Repository afahy/fluent-measures: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, cspell --no-must-find-files

test: pin what "N in" text does next to another measurement (#99)
  tests/parseMeasurement.inAfterNumber.test.ts
Due: prettier --write, eslint --fix

fix: join values at a hyphen after a mark as after a unit word (#97)
  .changeset/mark-hyphen-like-unit.md
  src/tokenize.ts
  tests/parseMeasurement.markHyphens.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

ci: count a Stryker directive's line as git does (#96)
  .github/scripts/changed-lines.mjs
  tests/changedLines.test.ts
Due: prettier --write, eslint --fix

fix: read a sign on the first word of a number phrase (#100)
  .changeset/signed-article-phrases.md
  src/parseMeasurement.ts
  src/tokenize.ts
  tests/parseMeasurement.signedParts.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

ci: never wait for CodeRabbit, and never ask it to review
  .claude/skills/steward/SKILL.md
  .github/scripts/pr-state.d.mts
  .github/scripts/pr-state.mjs
  .github/scripts/pr-status.mjs
  AGENTS.md
  tests/prState.edges.test.ts
  tests/prState.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

test: add a result snapshot of generated inputs
  tests/__snapshots__/resultSnapshot.txt
  tests/resultSnapshot.test.ts
Due: prettier --write, eslint --fix

refactor: delete the unused parseNumberToken
  src/parseNumberToken.ts
  tests/parseNumberToken.test.ts
Due: prettier --write, eslint --fix

refactor: look up a unit's type in UNIT_TYPES
  src/parseMeasurement.ts
  src/units.ts
Due: prettier --write, eslint --fix

refactor: put the Unicode fraction class in one constant
  src/tokenize.ts
Due: prettier --write, eslint --fix

refactor: normalize text in one function
  src/parseMeasurement.ts
  src/tokenize.ts
Due: prettier --write, eslint --fix

refactor: move two blocks out of parseMeasurement
  src/parseMeasurement.ts
Due: prettier --write, eslint --fix

chore: add a changeset for the parser restructure prep
  .changeset/parser-restructure-prep.md
Due: prettier --write, cspell --no-must-find-files

ci: keep CodeRabbit progress out of --wait, and name failed reviews
  .claude/skills/steward/SKILL.md
  .github/scripts/pr-state.d.mts
  .github/scripts/pr-state.mjs
  AGENTS.md
  tests/prState.edges.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

refactor: give the weight unit default its Stryker reason
  src/parseMeasurement.ts
Due: prettier --write, eslint --fix

ci: count a bot's requested changes until a person answers
  .github/scripts/pr-state.d.mts
  .github/scripts/pr-state.mjs
  tests/prState.test.ts
Due: prettier --write, eslint --fix

ci: take a thread reply as the answer to a bot's change request
  .github/scripts/pr-state.d.mts
  .github/scripts/pr-state.mjs
  tests/prState.test.ts
Due: prettier --write, eslint --fix

refactor: type-check UNIT_TYPES, and test two Unicode fractions
  src/parseMeasurement.ts
  src/tokenize.ts
  src/units.ts
  tests/normalizeFractions.test.ts
Due: prettier --write, eslint --fix

ci: reuse Stryker results in the mutation job (#94)
  .github/workflows/ci.yml
  CONTRIBUTING.md
  tests/mutationJob.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

ci: say that CodeRabbit skips a stacked PR, and why a reply counts
  .github/scripts/pr-state.mjs
  tests/prState.edges.test.ts
Due: prettier --write, eslint --fix

ci: never wait for CodeRabbit or ask it to review (#104)
  .claude/skills/steward/SKILL.md
  .github/scripts/pr-state.d.mts
  .github/scripts/pr-state.mjs
  .github/scripts/pr-status.mjs
  AGENTS.md
  tests/prState.edges.test.ts
  tests/prState.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

refactor: prepare the parser restructure with a result snapshot (#105)
  .changeset/parser-restructure-prep.md
  src/parseMeasurement.ts
  src/parseNumberToken.ts
  src/tokenize.ts
  src/units.ts
  tests/__snapshots__/resultSnapshot.txt
  tests/normalizeFractions.test.ts
  tests/parseNumberToken.test.ts
  tests/resultSnapshot.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

ci: show a PR that waits for the maintainer as a green status
  .github/scripts/pr-status-check.mjs
  tests/prStatusCheck.test.ts
Due: prettier --write, eslint --fix

ci: keep a draft pending while its CI runs
  .github/scripts/pr-status-check.mjs
  tests/prStatusCheck.test.ts
Due: prettier --write, eslint --fix

test: record the parts and the alias metre in the result snapshot
  tests/__snapshots__/resultSnapshot.txt
  tests/resultSnapshot.test.ts
Due: prettier --write, eslint --fix

ci: show a PR that waits for the maintainer as a green status (#106)
  .github/scripts/pr-status-check.mjs
  tests/prStatusCheck.test.ts
Due: prettier --write, eslint --fix

refactor: pass typed tokens from the tokenizer to the parser
  .changeset/typed-tokens.md
  CONTRIBUTING.md
  src/parseMeasurement.ts
  src/tokenize.ts
  src/units.ts
  tests/parseMeasurement.commaFractions.test.ts
  tests/parseMeasurement.commaLabels.test.ts
  tests/tokenize.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

test: keep the inches unit with the inches after feet
  src/parseMeasurement.ts
  tests/parseMeasurement.test.ts
Due: prettier --write, eslint --fix

docs: apply --no-requests to --wait, and read ci-ok on main
  .claude/skills/steward/SKILL.md
  AGENTS.md
Due: prettier --write, cspell --no-must-find-files

test: keep the AFA-86 inputs in the result snapshot
  tests/__snapshots__/resultSnapshot.txt
  tests/resultSnapshot.test.ts
Due: prettier --write, eslint --fix

refactor: pass the remaining reader to readValueAfter
  src/parseMeasurement.ts
  tests/parseMeasurement.unitLabels.test.ts
Due: prettier --write, eslint --fix

docs: watch every waiting-human PR, and find a stuck CI job on main
  .claude/skills/steward/SKILL.md
  AGENTS.md
Due: prettier --write, cspell --no-must-find-files

test: mark two step mutants that can't change a result
  src/parseMeasurement.ts
Due: prettier --write, eslint --fix

docs: restart only the wait call that returned
  .claude/skills/steward/SKILL.md
Due: prettier --write, cspell --no-must-find-files

fix: read code blocks line by line in late-bot-finding records
  .github/scripts/late-bot-findings.mjs
  tests/lateBotFindings.test.ts
Due: prettier --write, eslint --fix

fix: read quotes, lists, tildes and CRLF in late-bot code blocks
  .github/scripts/late-bot-findings.mjs
  tests/lateBotFindings.test.ts
Due: prettier --write, eslint --fix

fix: keep later sections when a late-bot fence isn't closed
  .github/scripts/late-bot-findings.mjs
  tests/lateBotFindings.test.ts
Due: prettier --write, eslint --fix

docs: stop the other wait call once every PR waits on a person
  .claude/skills/steward/SKILL.md
Due: prettier --write, cspell --no-must-find-files

fix: end an open late-bot fence at a bot's section line
  .github/scripts/late-bot-findings.mjs
  tests/lateBotFindings.test.ts
Due: prettier --write, eslint --fix

ci: stop running the PR status workflow on status events
  .github/workflows/pr-status.yml
  tests/prStatusWorkflow.test.ts
Due: prettier --write, eslint --fix

ci: drop the status case that the PR status workflow can't send
  .github/scripts/pr-status-check.mjs
  .github/workflows/pr-status.yml
  tests/prStatusCheck.test.ts
  tests/prStatusWorkflow.test.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,yml,yaml})) or (any of: *.md)) or (any of: *.github/**/*.md)) or (any of: docs/**/*.html)
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  cspell --no-must-find-files: ((any of: *.md) or (any of: *.github/**/*.md)) or (any of: docs/**/*.html)
