Repository afahy/fluent-measures: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, cspell --no-must-find-files

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{json,yml,yaml}": ["prettier --write"],
  "*.md": ["prettier --write", "cspell --no-must-find-files"],
  "*.github/**/*.md": ["prettier --write", "cspell --no-must-find-files"],
  "docs/**/*.html": ["prettier --write", "cspell --no-must-find-files"]
}

fix: multiply "and a half" by a following hundred or thousand (#77)
  .changeset/half-before-multiplier.md
  src/parseMeasurement.ts
  tests/parseMeasurement.andAHalf.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: join two values at a hyphen after an inch mark (#78)
  .changeset/inch-mark-hyphen.md
  src/tokenize.ts
  tests/parseMeasurement.signedParts.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: read signed label values, semicolons and number words as signed
  .changeset/signed-parts-labels-words.md
  src/parseMeasurement.ts
  src/tokenize.ts
  tests/parseMeasurement.signedParts.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

test: kill the surviving mutants of the signed-part fixes
  src/parseMeasurement.ts
  tests/parseMeasurement.signedParts.test.ts
Due: prettier --write, eslint --fix

refactor: read a signed label value through withoutSignAt
  .changeset/signed-parts-labels-words.md
  .changeset/signed-parts-null.md
  src/parseMeasurement.ts
  src/tokenize.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

ci: find Stryker directives with the TypeScript parser
  .github/scripts/changed-lines.mjs
  .github/scripts/mutation-check.mjs
  tests/changedLines.test.ts
  tests/mutationCheck.test.ts
Due: prettier --write, eslint --fix

refactor: keep the sign check before an unsupported unit as on main
  src/parseMeasurement.ts
Due: prettier --write, eslint --fix

ci: walk the syntax tree with a stack, and cover more review cases
  .github/scripts/changed-lines.mjs
  .github/scripts/mutation-check.mjs
  tests/changedLines.test.ts
  tests/mutationCheck.test.ts
Due: prettier --write, eslint --fix

ci: fail safe on deep code, and match mutate patterns as Stryker does
  .github/scripts/changed-lines.d.mts
  .github/scripts/changed-lines.mjs
  .github/scripts/mutation-check.mjs
  tests/changedLines.test.ts
  tests/mutationCheck.test.ts
Due: prettier --write, eslint --fix

refactor: simplify a sign condition and rewrap two comments
  src/parseMeasurement.ts
  src/tokenize.ts
Due: prettier --write, eslint --fix

ci: flag every directive in code that the parser cannot read
  .github/scripts/changed-lines.mjs
  .github/scripts/mutation-check.mjs
  tests/changedLines.test.ts
Due: prettier --write, eslint --fix

fix: handle signed label values, semicolons and number words (#82)
  .changeset/signed-parts-labels-words.md
  .changeset/signed-parts-null.md
  src/parseMeasurement.ts
  src/tokenize.ts
  tests/parseMeasurement.signedParts.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

ci: set pr-status after a deleted comment and per fork branch
  .github/workflows/pr-status.yml
Due: prettier --write

ci: drop 4-byte characters from the pr-status description
  .github/scripts/pr-status-check.mjs
  tests/prStatusCheck.test.ts
Due: prettier --write, eslint --fix

ci: drop only 4-byte characters, and test the workflow file
  .github/scripts/pr-status-check.mjs
  .github/workflows/pr-status.yml
  tests/prStatusCheck.test.ts
  tests/prStatusWorkflow.test.ts
Due: prettier --write, eslint --fix

ci: quote late bot findings without losing code or adding settings
  .github/scripts/late-bot-findings.mjs
  tests/fixtures/late-bot-findings/comments.json
  tests/lateBotFindings.test.ts
Due: prettier --write, eslint --fix

docs: clarify steward wording and pr:status commands
  .claude/skills/steward/SKILL.md
  AGENTS.md
Due: prettier --write, cspell --no-must-find-files

ci: read no HTML inside code in late bot finding quotes
  .github/scripts/late-bot-findings.mjs
  tests/lateBotFindings.test.ts
Due: prettier --write, eslint --fix

docs: use the approved CI-on-main wording and the PR argument
  .claude/skills/steward/SKILL.md
Due: prettier --write, cspell --no-must-find-files

docs: say that in after a number always means inches
  README.md
  tests/__snapshots__/corpus.test.ts.snap
  tests/corpus/measurements.jsonl
  tests/readme.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

ci: drop only the space next to a 4-byte character
  .github/scripts/pr-status-check.mjs
  tests/prStatusCheck.test.ts
Due: prettier --write, eslint --fix

docs: name the in. label and a second height in the in note
  .changeset/in-after-a-number.md
  README.md
  tests/__snapshots__/corpus.test.ts.snap
  tests/corpus/measurements.jsonl
  tests/readme.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

docs: load built Tailwind CSS instead of the Play CDN script
  CONTRIBUTING.md
  docs/index.html
  docs/tailwind.config.cjs
  docs/tailwind.css
  tests/docsPage.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: read a feet or inch mark after half or a number word
  .changeset/mark-after-a-word.md
  src/tokenize.ts
  tests/parseMeasurement.marksAfterWords.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

docs: check whole class names and rebuild with pnpm dlx
  CONTRIBUTING.md
  tests/docsPage.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

test: escape class names in one pass in the docs page test
  tests/docsPage.test.ts
Due: prettier --write, eslint --fix

fix: split a mark only after a number word or a number's half
  .changeset/mark-after-a-word.md
  src/tokenize.ts
  tests/parseMeasurement.marksAfterWords.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: don't read a stone, ounce or gram amount after feet as inches
  .changeset/unsupported-unit-after-feet.md
  src/parseMeasurement.ts
  tests/parseMeasurement.unsupportedUnits.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: drop the unused default from isUnsupportedUnit
  src/parseMeasurement.ts
Due: prettier --write, eslint --fix

fix: handle quoted phrases, hyphens and minus signs with word marks
  .changeset/mark-after-a-word.md
  src/tokenize.ts
  tests/parseMeasurement.marksAfterWords.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

test: read 11st after feet as stone, not an ordinal
  tests/parseMeasurement.unsupportedUnits.test.ts
Due: prettier --write, eslint --fix

fix: match a word mark with a quote of its own kind
  src/tokenize.ts
  tests/parseMeasurement.marksAfterWords.test.ts
Due: prettier --write, eslint --fix

test: read marks after a word with an apostrophe
  tests/parseMeasurement.marksAfterWords.test.ts
Due: prettier --write, eslint --fix

chore(config): lint every test format that Vitest runs
  eslint.config.js
  package.json
Due: prettier --write, eslint --fix

chore(config): keep one list of test formats and test it
  eslint.config.js
  package.json
  tests/lintFormats.test.ts
Due: prettier --write, eslint --fix

ci: ask Claude to review each pull request when it opens
  .github/workflows/claude-review.yml
Due: prettier --write

fix: read a feet or inch mark after half or a number word (#89)
  .changeset/mark-after-a-word.md
  src/tokenize.ts
  tests/parseMeasurement.marksAfterWords.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

ci: review with the repo's own checklist and fail no PR
  .github/workflows/claude-review.yml
  CONTRIBUTING.md
Due: prettier --write, cspell --no-must-find-files

fix: read two apostrophes after a number as an inch mark
  .changeset/two-apostrophes-inch-mark.md
  src/tokenize.ts
  tests/parseMeasurement.twoApostrophes.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

ci: keep the Claude check green after a failed checkout
  .github/workflows/claude-review.yml
Due: prettier --write
