Repository afahy/fluent-measures: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, cspell --no-must-find-files --exclude "tests/**/*"

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --fix",
    "cspell --no-must-find-files --exclude \"tests/**/*\""
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write",
    "cspell --no-must-find-files --exclude \"tests/**/*\""
  ]
}

feat: rename project to fluent-measures
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/config.yml
  CONTRIBUTING.md
  LICENSE
  README.md
  docs/index.html
  package.json
  typedoc.json
Due: prettier --write, cspell --no-must-find-files --exclude "tests/**/*"

docs: updated README, CONTRIBUTING to better match project
  CONTRIBUTING.md
  README.md
  package.json
  tests/type-check.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files --exclude "tests/**/*"

chore: update husky commands to remove deprecated code
  .husky/commit-msg
  .husky/config.json
  .husky/post-checkout
  .husky/post-merge
  .husky/pre-commit
  .husky/pre-push
  .husky/prepare-commit-msg
  package.json
Due: prettier --write, cspell --no-must-find-files --exclude "tests/**/*"

docs: clean up cspell logic
  .lintstagedrc
  cspell.json
  package.json
Due: prettier --write, cspell --no-must-find-files --exclude "tests/**/*"

feat: remove benchmarks and release-it
  .release-it.json
  CONTRIBUTING.md
  bench/index.js
  bench/index.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, cspell --no-must-find-files --exclude "tests/**/*"

test: update ts test command
  package.json
Due: prettier --write, cspell --no-must-find-files --exclude "tests/**/*"

docs: update readme with different version for npm
  README.md
  package.json
  packages/README.md
Due: prettier --write, cspell --no-must-find-files --exclude "tests/**/*"

chore: prepare for initial 0.1.0 release
  .changeset/brown-pots-mate.md
  package.json
Due: prettier --write, cspell --no-must-find-files --exclude "tests/**/*"

docs: update package name to @afahy/fluent-measures in documentation
  .changeset/social-ideas-accept.md
  README.md
  cspell.json
  package.json
  packages/README.md
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files --exclude "tests/**/*"

chore: reinitialize changesets and add documentation update
  .changeset/README.md
  .changeset/brown-pots-mate.md
  .changeset/kind-shoes-try.md
Due: prettier --write, cspell --no-must-find-files --exclude "tests/**/*"

chore: version 0.1.1
  CHANGELOG.md
  package.json
Due: prettier --write, cspell --no-must-find-files --exclude "tests/**/*"

chore: clean up changeset
  .changeset/kind-shoes-try.md
Due: prettier --write, cspell --no-must-find-files --exclude "tests/**/*"

fix: clean up scripts and fix broken library links
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  README.md
  docs/index.html
  package.json
  packages/README.md
Due: prettier --write, cspell --no-must-find-files --exclude "tests/**/*"

docs: updated readme for consistency
  LICENSE
  README.md
  cspell.json
  package.json
  packages/README.md
Due: prettier --write, cspell --no-must-find-files --exclude "tests/**/*"

chore: removed redundant config file
  commitlint.config.mjs
Due: none

chore: more cleanup of package.json and workflows
  .github/workflows/ci.yml
  .github/workflows/deploy-docs.yml
  package.json
  pnpm-lock.yaml
  typedoc.json
Due: prettier --write, cspell --no-must-find-files --exclude "tests/**/*"

fix: update ci and pre-push with proper script names
  .github/workflows/ci.yml
  .husky/pre-push
Due: prettier --write, cspell --no-must-find-files --exclude "tests/**/*"

fix(ci): remove size check since it was failing in github actions
  .github/workflows/ci.yml
  .github/workflows/deploy-docs.yml
Due: prettier --write, cspell --no-must-find-files --exclude "tests/**/*"

feat: always return components, rename as matches, update docs
  README.md
  docs/index.html
  package.json
  src/parseMeasurement.ts
  src/types.ts
  tests/parseMeasurement.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files --exclude "tests/**/*"

docs: update formatting command
  CONTRIBUTING.md
Due: prettier --write, cspell --no-must-find-files --exclude "tests/**/*"

Run Prettier formatting
  .eslintrc.json
  docs/index.html
Due: prettier --write, cspell --no-must-find-files --exclude "tests/**/*"

fix: point package entry points at emitted build output
  .changeset/tough-moons-repeat.md
  package.json
Due: prettier --write, cspell --no-must-find-files --exclude "tests/**/*"

fix: point package entry points at emitted build output (#3)
  .changeset/tough-moons-repeat.md
  package.json
Due: prettier --write, cspell --no-must-find-files --exclude "tests/**/*"

chore: add CODEOWNERS for repository gates
  .github/CODEOWNERS
Due: none

chore: add remaining gate files to CODEOWNERS
  .github/CODEOWNERS
Due: none

chore: add CODEOWNERS for CI, build and tooling config (#4)
  .github/CODEOWNERS
Due: none

docs: add CodeRabbit review badge
  README.md
Due: prettier --write, cspell --no-must-find-files --exclude "tests/**/*"

docs: add CodeRabbit review badge (#6)
  README.md
Due: prettier --write, cspell --no-must-find-files --exclude "tests/**/*"

ci: run full checks on Node 22 and 24 (AFA-19)
  .github/workflows/ci.yml
  vitest.config.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files --exclude "tests/**/*"

ci: run full checks on Node 22 and 24 (AFA-19) (#5)
  .github/workflows/ci.yml
  vitest.config.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files --exclude "tests/**/*"

docs: add agent contribution instructions
  .github/CODEOWNERS
  AGENTS.md
Due: prettier --write, cspell --no-must-find-files --exclude "tests/**/*"

Apply suggestion from @afahy
  AGENTS.md
Due: prettier --write, cspell --no-must-find-files --exclude "tests/**/*"

Revert "Apply suggestion from @afahy"
  AGENTS.md
Due: prettier --write, cspell --no-must-find-files --exclude "tests/**/*"

chore(spelling): add CODEOWNERS to repository vocabulary
  cspell.json
Due: prettier --write, cspell --no-must-find-files --exclude "tests/**/*"

docs(agents): remove redundant inline spelling exception
  AGENTS.md
Due: prettier --write, cspell --no-must-find-files --exclude "tests/**/*"

AFA-21: Add AGENTS.md with repo commands and rules for agent PRs (#7)
  .github/CODEOWNERS
  AGENTS.md
  cspell.json
Due: prettier --write, cspell --no-must-find-files --exclude "tests/**/*"

fix: remove shadowed legacy configs
  .eslintrc.json
  .husky/config.json
Due: prettier --write, cspell --no-must-find-files --exclude "tests/**/*"

fix: remove shadowed legacy configs (#8)
  .eslintrc.json
  .husky/config.json
Due: prettier --write, cspell --no-must-find-files --exclude "tests/**/*"
