Repository afahy/fluent-measures: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, cspell --no-must-find-files

chore(deps): update dev dependencies with security advisories (#60)
  CONTRIBUTING.md
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files

fix: read "and a half" after a whole number (#64)
  .changeset/and-a-half.md
  .size-limit.cjs
  CONTRIBUTING.md
  src/parseMeasurement.ts
  tests/__snapshots__/corpus.test.ts.snap
  tests/parseMeasurement.andAHalf.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: keep the hyphen joiner linear for a long token (#65)
  .changeset/linear-hyphen-joiner.md
  src/tokenize.ts
  tests/parseMeasurement.hyphens.test.ts
  tests/parseMeasurement.longRuns.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix(docs): check the integrity of the docs page's cdnjs files
  docs/index.html
  tests/docsPage.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: read a lone metric height below 3 as meters
  .changeset/unqualified-meters.md
  src/parseMeasurement.ts
  tests/__snapshots__/corpus.test.ts.snap
  tests/parseMeasurement.unqualifiedMeters.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

test: show an inferred underflow with inches, not centimeters
  tests/parseMeasurement.unqualifiedNormalization.test.ts
Due: prettier --write, eslint --fix

test: check every external script and stylesheet on the docs page
  tests/docsPage.test.ts
Due: prettier --write, eslint --fix

fix: read British metric spellings and "#" for pounds
  .changeset/british-units-and-hash.md
  README.md
  src/matchUnit.ts
  src/tokenize.ts
  src/units.ts
  tests/__snapshots__/corpus.test.ts.snap
  tests/matchUnit.test.ts
  tests/parseMeasurement.britishUnits.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

test: check that the fuzzy exclusion matches whole words only
  tests/matchUnit.test.ts
Due: prettier --write, eslint --fix

test: compare the Tailwind host name exactly in the docs test
  tests/docsPage.test.ts
Due: prettier --write, eslint --fix

fix: match British spellings only exactly, and narrow the # rule
  README.md
  src/matchUnit.ts
  src/tokenize.ts
  tests/matchUnit.test.ts
  tests/parseMeasurement.britishUnits.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

refactor: check the exact-only spellings on their own line
  src/matchUnit.ts
Due: prettier --write, eslint --fix

ci: add pr:status to report what a PR is waiting on
  .github/scripts/pr-state.d.mts
  .github/scripts/pr-state.mjs
  .github/scripts/pr-status.mjs
  package.json
  tests/fixtures/pr-status/pr-43-at-1810.json
  tests/fixtures/pr-status/pr-43.json
  tests/fixtures/pr-status/pr-66.json
  tests/fixtures/pr-status/pr-67.json
  tests/prState.test.ts
  tests/prStatus.test.ts
Due: prettier --write, eslint --fix

fix(docs): check the integrity of the docs page's cdnjs files (#66)
  docs/index.html
  tests/docsPage.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: read a lone metric height below 3 as meters (#67)
  .changeset/unqualified-meters.md
  src/parseMeasurement.ts
  tests/__snapshots__/corpus.test.ts.snap
  tests/parseMeasurement.unqualifiedMeters.test.ts
  tests/parseMeasurement.unqualifiedNormalization.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

docs: list the British spellings and "#" on the docs page
  docs/index.html
Due: prettier --write, cspell --no-must-find-files

fix: keep a zero as the number of the unit after it
  .changeset/zero-before-unit.md
  src/parseMeasurement.ts
  tests/parseMeasurement.zeroBeforeUnit.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

chore(config): watch PRs with pr:status through a steward skill
  .claude/skills/steward/SKILL.md
  AGENTS.md
Due: prettier --write, cspell --no-must-find-files

ci: fix pr:status findings from the branch review
  .github/scripts/pr-state.d.mts
  .github/scripts/pr-state.mjs
  .github/scripts/pr-status.mjs
  tests/fixtures/pr-status/pr-43-at-1810.json
  tests/fixtures/pr-status/pr-43.json
  tests/fixtures/pr-status/pr-66.json
  tests/fixtures/pr-status/pr-67.json
  tests/prState.edges.test.ts
  tests/prState.test.ts
  tests/prStatus.test.ts
Due: prettier --write, eslint --fix

ci: file a record when a bot posts a finding after a PR closes
  .github/scripts/late-bot-findings.d.mts
  .github/scripts/late-bot-findings.mjs
  .github/workflows/late-bot-findings.yml
  tests/fixtures/late-bot-findings/comments.json
  tests/lateBotFindings.test.ts
Due: prettier --write, eslint --fix

fix: treat "#" before any letter as no unit, and test "##"
  .changeset/british-units-and-hash.md
  src/tokenize.ts
  tests/parseMeasurement.britishUnits.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

ci: show what each PR is waiting on as a pr-status commit status
  .github/scripts/pr-state.d.mts
  .github/scripts/pr-state.mjs
  .github/scripts/pr-status-check.d.mts
  .github/scripts/pr-status-check.mjs
  .github/workflows/pr-status.yml
  tests/prStatusCheck.test.ts
Due: prettier --write, eslint --fix

fix: apply the zero rule only to a zero in the same field
  src/parseMeasurement.ts
  tests/parseMeasurement.zeroBeforeUnit.test.ts
Due: prettier --write, eslint --fix

test: check that the zero rule leaves other prefixes alone
  tests/parseMeasurement.zeroBeforeUnit.test.ts
Due: prettier --write, eslint --fix

ci: leave CODEOWNERS PRs to the maintainer in pr:status
  .github/scripts/pr-state.d.mts
  .github/scripts/pr-state.mjs
  .github/scripts/pr-status.mjs
  tests/fixtures/pr-status/CODEOWNERS
  tests/fixtures/pr-status/pr-43-at-1810.json
  tests/fixtures/pr-status/pr-43.json
  tests/fixtures/pr-status/pr-66.json
  tests/fixtures/pr-status/pr-67.json
  tests/prState.edges.test.ts
  tests/prStatus.test.ts
Due: prettier --write, eslint --fix

ci: run every test in the mutation check's dry run
  .github/scripts/mutation-check.mjs
Due: none

chore(config): fix gaps in the steward skill from the branch review
  .claude/skills/steward/SKILL.md
  AGENTS.md
Due: prettier --write, cspell --no-must-find-files

ci: run every test only when related mode finds none
  .github/scripts/mutation-check.mjs
  tests/mutationCheck.test.ts
Due: prettier --write, eslint --fix

ci: fix late bot findings issues from the branch review
  .github/scripts/late-bot-findings.d.mts
  .github/scripts/late-bot-findings.mjs
  .github/workflows/late-bot-findings.yml
  tests/lateBotFindings.test.ts
Due: prettier --write, eslint --fix

ci: strip HTML from late bot findings until none is left
  .github/scripts/late-bot-findings.mjs
  tests/lateBotFindings.test.ts
Due: prettier --write, eslint --fix

ci: keep a draft PR waiting on a person while its CI runs
  .github/scripts/pr-state.mjs
  tests/prState.edges.test.ts
  tests/prState.test.ts
Due: prettier --write, eslint --fix

chore(config): let check-ins that run out end the watch
  .claude/skills/steward/SKILL.md
Due: prettier --write, cspell --no-must-find-files

test: check that "#" before "_" is not pounds
  tests/parseMeasurement.britishUnits.test.ts
Due: prettier --write, eslint --fix

test: cover a zero part of a height before a weight
  tests/parseMeasurement.zeroBeforeUnit.test.ts
Due: prettier --write, eslint --fix

ci: fix pr-status workflow findings from the branch review
  .github/scripts/pr-state.d.mts
  .github/scripts/pr-state.mjs
  .github/scripts/pr-status-check.mjs
  .github/workflows/pr-status.yml
  tests/prStatusCheck.test.ts
Due: prettier --write, eslint --fix

ci: pass when Stryker finds no test and the files have no mutants
  .github/scripts/mutation-check.mjs
  tests/mutationCheck.test.ts
Due: prettier --write, eslint --fix

ci: fix Codex findings in late bot findings
  .github/scripts/late-bot-findings.mjs
  tests/lateBotFindings.test.ts
Due: prettier --write, eslint --fix

ci: add pr:status to report what a PR is waiting on (#68)
  .github/scripts/pr-state.d.mts
  .github/scripts/pr-state.mjs
  .github/scripts/pr-status.mjs
  package.json
  tests/fixtures/pr-status/CODEOWNERS
  tests/fixtures/pr-status/pr-43-at-1810.json
  tests/fixtures/pr-status/pr-43.json
  tests/fixtures/pr-status/pr-66.json
  tests/fixtures/pr-status/pr-67.json
  tests/prState.edges.test.ts
  tests/prState.test.ts
  tests/prStatus.test.ts
Due: prettier --write, eslint --fix

ci: check reasonless directives before passing a file with no mutants
  .github/scripts/mutation-check.mjs
  tests/mutationCheck.test.ts
Due: prettier --write, eslint --fix

test: add a property test for parseMeasurement's invariants
  package.json
  pnpm-lock.yaml
  tests/invariants.test.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,yml,yaml})) or (any of: *.md)) or (any of: *.github/**/*.md)) or (any of: docs/**/*.html)
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  cspell --no-must-find-files: ((any of: *.md) or (any of: *.github/**/*.md)) or (any of: docs/**/*.html)
