Repository afahy/fluent-measures: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, cspell --no-must-find-files

fix: make changeset reminder non-blocking (AFA-22)
  .husky/prepare-commit-msg
  tests/prepareCommitMsgHook.test.ts
Due: prettier --write, eslint --fix

ci: enforce conventional commit and PR titles
  .github/pull_request_template.md
  .github/workflows/commitlint.yml
  CONTRIBUTING.md
Due: prettier --write, cspell --no-must-find-files

docs: require Conventional Commits PR titles in AGENTS.md
  AGENTS.md
Due: prettier --write, cspell --no-must-find-files

docs: require the PR template in AGENTS.md and CONTRIBUTING.md
  AGENTS.md
  CONTRIBUTING.md
Due: prettier --write, cspell --no-must-find-files

fix: make changeset reminder non-blocking (AFA-22) (#9)
  .husky/prepare-commit-msg
  tests/prepareCommitMsgHook.test.ts
Due: prettier --write, eslint --fix

docs: reference tickets on the Fixes line, not in PR titles
  .github/pull_request_template.md
  AGENTS.md
Due: prettier --write, cspell --no-must-find-files

ci: enforce conventional commit and PR titles (#10)
  .github/pull_request_template.md
  .github/workflows/commitlint.yml
  AGENTS.md
  CONTRIBUTING.md
Due: prettier --write, cspell --no-must-find-files

ci: apply stricter commitlint rules to PR titles
  .github/CODEOWNERS
  .github/workflows/commitlint.yml
  AGENTS.md
  CONTRIBUTING.md
  commitlint.pr-title.config.js
Due: prettier --write, eslint --fix, cspell --no-must-find-files

test: cover the PR title commitlint config
  CONTRIBUTING.md
  commitlint.pr-title.config.js
  tests/prTitleLint.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

ci: apply stricter commitlint rules to PR titles (#12)
  .github/CODEOWNERS
  .github/workflows/commitlint.yml
  AGENTS.md
  CONTRIBUTING.md
  commitlint.pr-title.config.js
  tests/prTitleLint.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix(config): move lifecycle hooks into package.json scripts
  .gitignore
  package.json
  tests/lifecycleScripts.test.ts
Due: prettier --write, eslint --fix

ci: add Stryker mutation testing with a minimum score of 70
  .github/workflows/ci.yml
  .gitignore
  CONTRIBUTING.md
  package.json
  pnpm-lock.yaml
  stryker.config.json
Due: prettier --write, cspell --no-must-find-files

ci: fail fix PRs whose tests all pass without the fix
  .github/workflows/ci.yml
Due: prettier --write

fix: parse "dozen" as 12 (throwaway commit, no test)
  src/wordsToNumber.ts
Due: prettier --write, eslint --fix

test: cover "dozen" (throwaway commit)
  tests/wordsToNumber.test.ts
Due: prettier --write, eslint --fix

ci: keep expected failures out of PR annotations
  .github/workflows/ci.yml
Due: prettier --write

revert: throwaway commits used to exercise the regression-test job
  src/wordsToNumber.ts
  tests/wordsToNumber.test.ts
Due: prettier --write, eslint --fix

ci: re-run CI when a pull request is edited
  .github/workflows/ci.yml
Due: prettier --write

ci: cancel superseded CI runs on a pull request
  .github/workflows/ci.yml
Due: prettier --write

fix(config): let prepare succeed when husky is not installed
  package.json
  tests/lifecycleScripts.test.ts
Due: prettier --write, eslint --fix

ci: count type check failures in the regression-test job
  .github/workflows/ci.yml
Due: prettier --write

fix: make ParsedValue.raw read-only (throwaway commit)
  src/types.ts
  tests/types.test.ts
Due: prettier --write, eslint --fix

revert: throwaway type-only fix used to exercise the type check path
  src/types.ts
  tests/types.test.ts
Due: prettier --write, eslint --fix

ci: test the packed package on Node 22 and 24
  .github/workflows/ci.yml
Due: prettier --write

fix(config): run lifecycle scripts without pnpm or a POSIX shell
  .changeset/quiet-lamps-build.md
  .gitignore
  package.json
  tests/lifecycleScripts.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

ci: tighten Stryker config and document mutation testing
  .github/workflows/ci.yml
  .gitignore
  AGENTS.md
  CONTRIBUTING.md
  package.json
  stryker.config.json
Due: prettier --write, cspell --no-must-find-files

test: check that pnpm pack builds dist/ in a checkout without it
  tests/lifecycleScripts.test.ts
Due: prettier --write, eslint --fix

ci: move the regression check to its own workflow
  .github/actions/setup/action.yml
  .github/scripts/regression-check.mjs
  .github/workflows/ci.yml
  .github/workflows/commitlint.yml
  .github/workflows/regression-test.yml
Due: prettier --write

docs: add a JSDoc comment to levenshtein (throwaway commit)
  src/levenshtein.ts
Due: prettier --write, eslint --fix

feat: add isDozen helper with a happy-path test (throwaway commit)
  src/isDozen.ts
  tests/isDozen.test.ts
Due: prettier --write, eslint --fix

test: cover "dozen" on Node 24 only (throwaway commit)
  tests/dozen.test.ts
Due: prettier --write, eslint --fix

ci: let the regression check restore the base branch twice
  .github/scripts/regression-check.mjs
Due: none

test: cover "dozen" on every Node version (throwaway commit)
  tests/dozen.test.ts
Due: prettier --write, eslint --fix

revert: throwaway commits used to exercise the regression check
  src/isDozen.ts
  src/levenshtein.ts
  src/wordsToNumber.ts
  tests/dozen.test.ts
  tests/isDozen.test.ts
Due: prettier --write, eslint --fix

fix(config): move lifecycle hooks into package.json scripts (#16)
  .changeset/quiet-lamps-build.md
  package.json
  tests/lifecycleScripts.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix(ci): install the size-limit why plugin and build once per run
  .gitignore
  .husky/pre-push
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(ci): install size-limit and run the bundle size check in CI
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(ci): ignore the single-check esbuild-why report name
  .gitignore
Due: none

Path conditions:
  prettier --write: ((((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,yml,yaml})) or (any of: *.md)) or (any of: *.github/**/*.md)) or (any of: docs/**/*.html)
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  cspell --no-must-find-files: ((any of: *.md) or (any of: *.github/**/*.md)) or (any of: docs/**/*.html)
