Repository afahy/fluent-measures: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, cspell --no-must-find-files

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{json,yml,yaml}": ["prettier --write"],
  "*.md": ["prettier --write", "cspell --no-must-find-files"],
  "*.github/**/*.md": ["prettier --write", "cspell --no-must-find-files"],
  "docs/**/*.html": ["prettier --write", "cspell --no-must-find-files"]
}

fix: return null for weights with stone, ounces or grams (#35)
  .changeset/stone-ounces-null.md
  README.md
  src/parseMeasurement.ts
  src/tokenize.ts
  src/units.ts
  tests/parseMeasurement.unsupportedUnits.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: stop adding separate measurements together
  .changeset/separate-measurements.md
  README.md
  src/parseMeasurement.ts
  src/units.ts
  tests/parseMeasurement.bareInches.test.ts
  tests/parseMeasurement.hyphenReview.test.ts
  tests/parseMeasurement.separateMeasurements.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: keep an exact 1% difference between decimal measurements
  src/parseMeasurement.ts
  tests/parseMeasurement.separateMeasurements.test.ts
Due: prettier --write, eslint --fix

fix: read a same-system conversion as its own measurement
  .changeset/separate-measurements.md
  README.md
  src/parseMeasurement.ts
  tests/parseMeasurement.numberWords.test.ts
  tests/parseMeasurement.separateMeasurements.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: read fractional conversions apart and reject infinite values
  .changeset/separate-measurements.md
  README.md
  src/parseMeasurement.ts
  tests/parseMeasurement.separateMeasurements.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: stop adding separate measurements together (#36)
  .changeset/separate-measurements.md
  README.md
  src/parseMeasurement.ts
  src/units.ts
  tests/parseMeasurement.bareInches.test.ts
  tests/parseMeasurement.hyphenReview.test.ts
  tests/parseMeasurement.numberWords.test.ts
  tests/parseMeasurement.separateMeasurements.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: read the whole number phrase after a unit
  .changeset/unit-first-phrases.md
  src/parseMeasurement.ts
  tests/parseMeasurement.unitFirstPhrases.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: read the whole number phrase after a unit (#37)
  .changeset/unit-first-phrases.md
  src/parseMeasurement.ts
  tests/parseMeasurement.unitFirstPhrases.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: treat any Unicode letter as part of a word before a label
  .changeset/unicode-label-boundary.md
  src/tokenize.ts
  tests/parseMeasurement.unicodeLabels.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: treat any Unicode letter as part of a word before a label (#38)
  .changeset/unicode-label-boundary.md
  src/tokenize.ts
  tests/parseMeasurement.unicodeLabels.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

chore(config): raise the bundle size budget to 3 kB
  .size-limit.cjs
  CONTRIBUTING.md
Due: prettier --write, cspell --no-must-find-files

chore(config): raise the bundle size budget to 3 kB (#39)
  .size-limit.cjs
  CONTRIBUTING.md
Due: prettier --write, cspell --no-must-find-files

fix: read the number after a unit label first
  .changeset/label-reads-forward.md
  src/parseMeasurement.ts
  src/tokenize.ts
  src/units.ts
  tests/parseMeasurement.labelValues.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: read the number after a unit label first (#40)
  .changeset/label-reads-forward.md
  src/parseMeasurement.ts
  src/tokenize.ts
  src/units.ts
  tests/parseMeasurement.labelValues.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: keep a label's earlier value when the next number has a unit
  .changeset/label-falls-back.md
  src/parseMeasurement.ts
  tests/parseMeasurement.labelValues.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: stop a label from taking an earlier field's number
  .changeset/label-falls-back.md
  src/parseMeasurement.ts
  src/tokenize.ts
  src/units.ts
  tests/parseMeasurement.labelValues.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: treat a label before a colon or equals sign as a field name
  .changeset/label-falls-back.md
  src/parseMeasurement.ts
  src/tokenize.ts
  src/units.ts
  tests/parseMeasurement.labelValues.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: treat a bracket label before a colon as a field name
  .changeset/label-falls-back.md
  src/tokenize.ts
  tests/parseMeasurement.labelValues.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: keep a label's earlier value when the next number has a unit (#41)
  .changeset/label-falls-back.md
  src/parseMeasurement.ts
  src/tokenize.ts
  src/units.ts
  tests/parseMeasurement.labelValues.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: return null when a stone, ounce or gram unit comes first
  .changeset/stone-ounces-unit-first.md
  README.md
  src/parseMeasurement.ts
  tests/parseMeasurement.unsupportedUnits.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: return null when a stone, ounce or gram unit comes first (#42)
  .changeset/stone-ounces-unit-first.md
  README.md
  src/parseMeasurement.ts
  tests/parseMeasurement.unsupportedUnits.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: read the number after any unit label, not only in and m
  .changeset/unit-labels-read-forward.md
  README.md
  src/parseMeasurement.ts
  src/tokenize.ts
  src/units.ts
  tests/parseMeasurement.unitLabels.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: keep a label off a number in stone, ounces or grams
  src/parseMeasurement.ts
  tests/parseMeasurement.unitLabels.test.ts
Due: prettier --write, eslint --fix

docs: explain the exceptions to the unit-label fallback
  README.md
Due: prettier --write, cspell --no-must-find-files

fix: read the number after any unit label, not only in and m (#43)
  .changeset/unit-labels-read-forward.md
  README.md
  src/parseMeasurement.ts
  src/tokenize.ts
  src/units.ts
  tests/parseMeasurement.unitLabels.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

chore(config): let agents act and decide without asking
  AGENTS.md
  cspell.json
Due: prettier --write, cspell --no-must-find-files

chore(config): close gaps in the agent autonomy rules
  AGENTS.md
Due: prettier --write, cspell --no-must-find-files

chore(config): judge agent actions by how easy they are to undo
  AGENTS.md
Due: prettier --write, cspell --no-must-find-files

chore(config): require tests that can fail, and limit agent tickets
  AGENTS.md
Due: prettier --write, cspell --no-must-find-files

test: check every README example against the parser
  tests/readme.test.ts
Due: prettier --write, eslint --fix

test: check README values exactly and read every code fence
  tests/readme.test.ts
Due: prettier --write, eslint --fix

test: read README calls in template interpolations and any-case tags
  tests/readme.test.ts
Due: prettier --write, eslint --fix

test: add a labelled corpus of everyday inputs
  CONTRIBUTING.md
  tests/__snapshots__/corpus.test.ts.snap
  tests/corpus.test.ts
  tests/corpus/measurements.jsonl
Due: prettier --write, eslint --fix, cspell --no-must-find-files

test: escape more hyphen look-alikes in the corpus report
  tests/corpus.test.ts
Due: prettier --write, eslint --fix

test: allow space before a README call and keep repeated examples
  tests/readme.test.ts
Due: prettier --write, eslint --fix

test: keep tests that run git off the repository in GIT_DIR
  tests/gitEnvironment.test.ts
  tests/gitEnvironment.ts
  tests/lifecycleScripts.test.ts
  tests/postCheckoutHook.test.ts
  tests/prepareCommitMsgHook.test.ts
Due: prettier --write, eslint --fix

test: share one git helper and check every test that starts git
  tests/gitEnvironment.test.ts
  tests/gitEnvironment.ts
  tests/lifecycleScripts.test.ts
  tests/postCheckoutHook.test.ts
  tests/prepareCommitMsgHook.test.ts
Due: prettier --write, eslint --fix

chore(deps): lint tests with @vitest/eslint-plugin
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore(deps): say why two test lint rules repeat the preset
  eslint.config.js
Due: prettier --write, eslint --fix

ci: add a script that checks mutants on changed lines
  .github/scripts/changed-lines.d.mts
  .github/scripts/changed-lines.mjs
  .github/scripts/mutation-check.mjs
Due: none
