Repository afahy/fluent-measures: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, cspell --no-must-find-files

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{json,yml,yaml}": ["prettier --write"],
  "*.md": ["prettier --write", "cspell --no-must-find-files"],
  "*.github/**/*.md": ["prettier --write", "cspell --no-must-find-files"],
  "docs/**/*.html": ["prettier --write", "cspell --no-must-find-files"]
}

fix: handle unit prefixes and zero height components
  .changeset/chubby-lines-hide.md
  README.md
  src/parseMeasurement.ts
  src/tokenize.ts
  tests/parseMeasurement.hyphenReview.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: reject complete ranges and signed compound heights
  .changeset/chubby-lines-hide.md
  README.md
  src/parseMeasurement.ts
  src/tokenize.ts
  src/units.ts
  tests/parseMeasurement.hyphenReview.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: bound decimal shorthand matching work
  .changeset/chubby-lines-hide.md
  src/parseMeasurement.ts
  tests/parseMeasurement.hyphenReview.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: retain independent heights after signed fragments
  .changeset/chubby-lines-hide.md
  README.md
  src/parseMeasurement.ts
  tests/parseMeasurement.hyphenReview.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: scope zero components and mixed height separators
  .changeset/chubby-lines-hide.md
  README.md
  src/parseMeasurement.ts
  src/tokenize.ts
  src/wordsToNumber.ts
  tests/parseMeasurement.hyphenReview.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: preserve punctuation around measurement values
  .changeset/chubby-lines-hide.md
  README.md
  src/levenshtein.ts
  src/parseMeasurement.ts
  src/parseNumberToken.ts
  src/tokenize.ts
  src/wordsToNumber.ts
  tests/parseMeasurement.hyphenReview.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: retain metric suffixes and zero-prefixed measurements
  .changeset/chubby-lines-hide.md
  README.md
  src/parseMeasurement.ts
  src/units.ts
  tests/parseMeasurement.hyphenReview.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: parse hyphenated height shorthand (#26)
  .changeset/chubby-lines-hide.md
  .changeset/petite-swans-play.md
  README.md
  src/levenshtein.ts
  src/parseMeasurement.ts
  src/parseNumberToken.ts
  src/tokenize.ts
  src/units.ts
  src/wordsToNumber.ts
  tests/parseMeasurement.hyphenReview.test.ts
  tests/parseMeasurement.hyphens.test.ts
  tests/parseNumberToken.test.ts
  tests/tokenize.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: preserve numbers containing commas
  .changeset/blue-peas-hunt.md
  README.md
  src/tokenize.ts
  tests/parseMeasurement.commas.test.ts
  tests/tokenize.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: normalize commas before measurement syntax
  .changeset/blue-peas-hunt.md
  README.md
  src/parseMeasurement.ts
  src/tokenize.ts
  tests/parseMeasurement.commaSyntax.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: preserve comma fractions without leading zeros
  .changeset/blue-peas-hunt.md
  README.md
  src/parseMeasurement.ts
  src/tokenize.ts
  tests/parseMeasurement.commaFractions.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: preserve commas separating measurement labels
  .changeset/blue-peas-hunt.md
  README.md
  src/tokenize.ts
  src/wordsToNumber.ts
  tests/parseMeasurement.commaLabels.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

test: clarify comma number boundaries after labels
  README.md
  tests/parseMeasurement.commaBoundaries.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: validate complete comma number groups
  .changeset/blue-peas-hunt.md
  README.md
  src/parseMeasurement.ts
  src/tokenize.ts
  tests/parseMeasurement.commaGroups.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: preserve numbers containing commas (#27)
  .changeset/blue-peas-hunt.md
  README.md
  src/parseMeasurement.ts
  src/tokenize.ts
  src/wordsToNumber.ts
  tests/parseMeasurement.commaBoundaries.test.ts
  tests/parseMeasurement.commaFractions.test.ts
  tests/parseMeasurement.commaGroups.test.ts
  tests/parseMeasurement.commaLabels.test.ts
  tests/parseMeasurement.commaSyntax.test.ts
  tests/parseMeasurement.commas.test.ts
  tests/tokenize.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: reject prose in fuzzy unit matching
  .changeset/fifty-banks-write.md
  README.md
  src/levenshtein.ts
  src/matchUnit.ts
  src/units.ts
  tests/matchUnit.closest.test.ts
  tests/matchUnit.test.ts
  tests/parseMeasurement.fuzzyUnits.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: exclude prose near kilogram aliases
  README.md
  src/matchUnit.ts
  tests/parseMeasurement.fuzzyUnits.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: reject prose in fuzzy unit matching (#28)
  .changeset/fifty-banks-write.md
  README.md
  src/levenshtein.ts
  src/matchUnit.ts
  src/units.ts
  tests/matchUnit.closest.test.ts
  tests/matchUnit.test.ts
  tests/parseMeasurement.fuzzyUnits.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: normalize inferred measurements
  .changeset/tidy-cats-convert.md
  README.md
  src/parseMeasurement.ts
  tests/parseMeasurement.unqualifiedNormalization.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: share inferred measurement normalization
  src/parseMeasurement.ts
  tests/parseMeasurement.unqualifiedNormalization.test.ts
Due: prettier --write, eslint --fix

chore(deps): update vulnerable dev dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): dedupe the lockfile and drop glob 10
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update vulnerable dev dependencies (#30)
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): declare vite as a devDependency
  package.json
  pnpm-lock.yaml
Due: prettier --write

docs: note that vite has to move with vitest
  CONTRIBUTING.md
Due: prettier --write, cspell --no-must-find-files

chore: record PR review result
  .codex-review-result.json
Due: prettier --write

chore(deps): declare vite as a devDependency (#31)
  CONTRIBUTING.md
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files

chore(config): set the bundle size budget to 2.5 kB
  .size-limit.cjs
  CONTRIBUTING.md
Due: prettier --write, cspell --no-must-find-files

docs: fix the bundle size note in CONTRIBUTING.md
  .size-limit.cjs
  CONTRIBUTING.md
Due: prettier --write, cspell --no-must-find-files

chore(config): set the bundle size budget to 2.5 kB (#33)
  .size-limit.cjs
  CONTRIBUTING.md
Due: prettier --write, cspell --no-must-find-files

fix: stop reading "in" before a number as inches
  .changeset/brave-words-rest.md
  src/parseMeasurement.ts
  tests/parseMeasurement.inPreposition.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: keep inch labels working and stop reading m before a number
  .changeset/brave-words-rest.md
  README.md
  src/parseMeasurement.ts
  src/tokenize.ts
  src/units.ts
  tests/parseMeasurement.inPreposition.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: tighten inch and meter labels after review
  .changeset/brave-words-rest.md
  README.md
  src/parseMeasurement.ts
  src/tokenize.ts
  src/units.ts
  tests/parseMeasurement.inPreposition.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: treat any dash as a hyphen before an inch label
  src/tokenize.ts
  tests/parseMeasurement.inPreposition.test.ts
Due: prettier --write, eslint --fix

fix: keep bracket labels linear and skip semicolons in the label guard
  src/parseMeasurement.ts
  src/tokenize.ts
  tests/parseMeasurement.inPreposition.test.ts
Due: prettier --write, eslint --fix

fix: stop reading "in" and "m" before a number as units (#34)
  .changeset/brave-words-rest.md
  README.md
  src/parseMeasurement.ts
  src/tokenize.ts
  src/units.ts
  tests/parseMeasurement.inPreposition.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: return null for weights with stone, ounces or grams
  .changeset/stone-ounces-null.md
  README.md
  src/parseMeasurement.ts
  src/units.ts
  tests/parseMeasurement.unsupportedUnits.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: count stone, ounce and gram parts only next to a weight
  .changeset/stone-ounces-null.md
  README.md
  src/parseMeasurement.ts
  tests/parseMeasurement.unsupportedUnits.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: read decimal stones and keep weights before a 5G reference
  .changeset/stone-ounces-null.md
  README.md
  src/parseMeasurement.ts
  src/tokenize.ts
  tests/parseMeasurement.unsupportedUnits.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: skip semicolons when looking for a weight after stone or ounces
  src/parseMeasurement.ts
  tests/parseMeasurement.unsupportedUnits.test.ts
Due: prettier --write, eslint --fix
