Repository afahy/fluent-measures: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, cspell --no-must-find-files

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{json,yml,yaml}": ["prettier --write"],
  "*.md": ["prettier --write", "cspell --no-must-find-files"],
  "*.github/**/*.md": ["prettier --write", "cspell --no-must-find-files"],
  "docs/**/*.html": ["prettier --write", "cspell --no-must-find-files"]
}

test: keep two apostrophes after a space or a word as on main
  .changeset/two-apostrophes-inch-mark.md
  tests/parseMeasurement.twoApostrophes.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

ci: check out the base for the Claude review and limit its step
  .github/workflows/claude-review.yml
Due: prettier --write

chore(config): share lint options and test the lint script's folder
  eslint.config.js
  tests/lintFormats.test.ts
Due: prettier --write, eslint --fix

docs: give one instruction per sentence in the edited steps
  .claude/skills/steward/SKILL.md
  AGENTS.md
Due: prettier --write, cspell --no-must-find-files

ci: end an inline code span at a blank line in bot quotes
  .github/scripts/late-bot-findings.mjs
  tests/lateBotFindings.test.ts
Due: prettier --write, eslint --fix

ci: write the joiners as alternatives in the 4-byte pattern
  .github/scripts/pr-status-check.mjs
Due: none

docs: keep the in note to what holds in every word order
  README.md
  tests/corpus/measurements.jsonl
  tests/readme.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

ci: read indented fences and backslash pairs as Markdown does
  .github/scripts/late-bot-findings.mjs
  tests/lateBotFindings.test.ts
Due: prettier --write, eslint --fix

test: end a class name at an escape in the docs page check
  CONTRIBUTING.md
  tests/docsPage.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

test: pin the results that a stone, ounce or gram after feet changes
  tests/parseMeasurement.unsupportedUnits.test.ts
Due: prettier --write, eslint --fix

docs: load built Tailwind CSS instead of the Play CDN script (#88)
  CONTRIBUTING.md
  docs/index.html
  docs/tailwind.config.cjs
  docs/tailwind.css
  tests/docsPage.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

ci: keep secrets out of the Claude review's reach
  .github/workflows/claude-review.yml
  CONTRIBUTING.md
  tests/claudeReviewWorkflow.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

ci: give the Claude review no shell
  .github/workflows/claude-review.yml
  tests/claudeReviewWorkflow.test.ts
Due: prettier --write, eslint --fix

fix: keep quoted numbers and runs of marks as on main
  .changeset/two-apostrophes-inch-mark.md
  src/tokenize.ts
  tests/parseMeasurement.twoApostrophes.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: check for two apostrophes before the quote lookbehind
  src/tokenize.ts
Due: prettier --write, eslint --fix

ci: give the Claude review no Grep or Glob
  .github/workflows/claude-review.yml
  tests/claudeReviewWorkflow.test.ts
Due: prettier --write, eslint --fix

ci: run the Claude review in dontAsk mode
  .github/workflows/claude-review.yml
  tests/claudeReviewWorkflow.test.ts
Due: prettier --write, eslint --fix

ci: reuse Stryker results in the mutation job
  .github/workflows/ci.yml
  CONTRIBUTING.md
  tests/mutationJob.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

ci: hash the corpus snapshot and save Stryker results on failure
  .github/workflows/ci.yml
  tests/mutationJob.test.ts
Due: prettier --write, eslint --fix

test: read the docs CSS classes into a set, and drop prose classes
  docs/index.html
  tests/docsPage.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

test: skip CSS comments and at-rules when reading docs classes
  docs/index.html
  tests/docsPage.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

chore(config): let JavaScript tests use Vitest and Node globals
  eslint.config.js
  tests/lintFormats.test.ts
Due: prettier --write, eslint --fix

chore(config): keep no-undef on for JavaScript tests
  eslint.config.js
  tests/lintFormats.test.ts
Due: prettier --write, eslint --fix

ci: run every mutant on a re-run, and skip the restore on main
  .github/workflows/ci.yml
  CONTRIBUTING.md
  tests/mutationJob.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

docs: drop always from the corpus notes, and check the type
  tests/corpus/measurements.jsonl
  tests/readme.test.ts
Due: prettier --write, eslint --fix

ci: find Stryker directives with the TypeScript parser (#83)
  .github/scripts/changed-lines.d.mts
  .github/scripts/changed-lines.mjs
  .github/scripts/mutation-check.mjs
  tests/changedLines.test.ts
  tests/mutationCheck.test.ts
Due: prettier --write, eslint --fix

ci: count a Stryker directive's line as git does
  .github/scripts/changed-lines.mjs
  tests/changedLines.test.ts
Due: prettier --write, eslint --fix

test: check a directive that git puts on an unchanged line
  tests/changedLines.test.ts
Due: prettier --write, eslint --fix

test: describe the unsupported-unit rows without "now"
  tests/parseMeasurement.unsupportedUnits.test.ts
Due: prettier --write, eslint --fix

docs: say in comments() that its line counts \n only
  .github/scripts/changed-lines.mjs
Due: none

fix: read two apostrophes after a number as an inch mark (#93)
  .changeset/two-apostrophes-inch-mark.md
  src/tokenize.ts
  tests/parseMeasurement.twoApostrophes.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

chore(config): give .cjs tests Vitest's globals
  eslint.config.js
  tests/lintFormats.test.ts
Due: prettier --write, eslint --fix

fix: join values at a hyphen after a mark as after a unit word
  .changeset/mark-hyphen-like-unit.md
  src/tokenize.ts
  tests/parseMeasurement.markHyphens.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: treat number words and number-unit tokens alike before a mark
  src/tokenize.ts
  tests/parseMeasurement.markHyphens.test.ts
Due: prettier --write, eslint --fix

test: rebuild the docs CSS, and skip strings and at-rules in class names
  docs/tailwind.css
  tests/docsPage.test.ts
Due: prettier --write, eslint --fix

ci: count a directive's line only when a comment is a directive
  .github/scripts/changed-lines.mjs
  tests/changedLines.test.ts
Due: prettier --write, eslint --fix

fix: require the number before a unit and a mark to start the token
  src/tokenize.ts
  tests/parseMeasurement.markHyphens.test.ts
Due: prettier --write, eslint --fix

test: read the docs CSS in tokens, so strings and escapes end nothing
  tests/docsPage.test.ts
Due: prettier --write, eslint --fix

ci: escape file names in the CI scripts' workflow commands
  .github/scripts/mutation-check.mjs
  .github/scripts/regression-check.mjs
  .github/scripts/workflow-commands.d.mts
  .github/scripts/workflow-commands.mjs
  tests/mutationCheck.test.ts
  tests/workflowCommands.test.ts
Due: prettier --write, eslint --fix

ci: save Stryker results after a timeout or a re-run, and test the hash
  .github/workflows/ci.yml
  CONTRIBUTING.md
  tests/mutationJob.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files
