Repository afahy/fluent-measures: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, cspell --no-must-find-files

fix: read code blocks line by line in late-bot-finding records (#109)
  .github/scripts/late-bot-findings.mjs
  tests/lateBotFindings.test.ts
Due: prettier --write, eslint --fix

ci: stop running the PR status workflow on status events (#110)
  .github/scripts/pr-status-check.mjs
  .github/workflows/pr-status.yml
  tests/prStatusCheck.test.ts
  tests/prStatusWorkflow.test.ts
Due: prettier --write, eslint --fix

ci: count only an answer that is tied to the bot review
  .github/scripts/pr-state.mjs
  tests/prState.edges.test.ts
  tests/prState.test.ts
Due: prettier --write, eslint --fix

ci: answer a bot review only with a link, and say so in the reason
  .github/scripts/pr-state.mjs
  tests/prState.edges.test.ts
  tests/prState.test.ts
Due: prettier --write, eslint --fix

fix: keep section lines in closed late-bot fences as code
  .github/scripts/late-bot-findings.mjs
  tests/lateBotFindings.test.ts
Due: prettier --write, eslint --fix

ci: count only an answer that is tied to the bot review (#111)
  .github/scripts/pr-state.mjs
  tests/prState.edges.test.ts
  tests/prState.test.ts
Due: prettier --write, eslint --fix

fix: end a late-bot fence at each bot subsection, with one close check
  .github/scripts/late-bot-findings.mjs
  tests/lateBotFindings.test.ts
Due: prettier --write, eslint --fix

docs: apply --no-requests to --wait, and read ci-ok on main (#107)
  .claude/skills/steward/SKILL.md
  AGENTS.md
Due: prettier --write, cspell --no-must-find-files

docs: time out a ci-ok that hangs, and don't rerun a failed wait
  .claude/skills/steward/SKILL.md
Due: prettier --write, cspell --no-must-find-files

fix: read short paths and tagged emoji titles in bot sections
  .github/scripts/late-bot-findings.mjs
  tests/lateBotFindings.test.ts
Due: prettier --write, eslint --fix

docs: retry a wait call after a passing error, and read ci-ok's result
  .claude/skills/steward/SKILL.md
Due: prettier --write, cspell --no-must-find-files

fix: keep section lines in closed late-bot fences as code (#112)
  .github/scripts/late-bot-findings.mjs
  tests/lateBotFindings.test.ts
Due: prettier --write, eslint --fix

docs: check in at the retry time, and report a ci-ok that hangs
  .claude/skills/steward/SKILL.md
Due: prettier --write, cspell --no-must-find-files

docs: rewrap the CI on main paragraph
  .claude/skills/steward/SKILL.md
Due: prettier --write, cspell --no-must-find-files

test: give the timing tests fixed limits, and skip them under Stryker
  tests/parseMeasurement.longRuns.test.ts
  tests/parseMeasurement.signedParts.test.ts
Due: prettier --write, eslint --fix

docs: time out a ci-ok that hangs, and retry a failed wait call (#113)
  .claude/skills/steward/SKILL.md
Due: prettier --write, cspell --no-must-find-files

ci: retry the first pr:status request, and exit 3 for a bad token
  .claude/skills/steward/SKILL.md
  .github/scripts/pr-state.mjs
  .github/scripts/pr-status.mjs
  tests/prState.edges.test.ts
  tests/prStatus.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

ci: retry only the pr:status errors that can pass
  .claude/skills/steward/SKILL.md
  .github/scripts/pr-state.mjs
  .github/scripts/pr-status.mjs
  tests/prState.test.ts
  tests/prStatus.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

test: size the timing tests for CI's coverage run
  tests/parseMeasurement.longRuns.test.ts
  tests/parseMeasurement.signedParts.test.ts
  tests/underStryker.ts
Due: prettier --write, eslint --fix

ci: count a rate limit whose reset has passed as an error
  .github/scripts/pr-status.mjs
  tests/prStatus.test.ts
Due: prettier --write, eslint --fix

ci: retry a dropped body, and read rate limits only on 403 and 429
  .github/scripts/pr-state.mjs
  tests/prState.test.ts
Due: prettier --write, eslint --fix

test: give the stream callback a return type
  tests/prState.test.ts
Due: prettier --write, eslint --fix

test: fail lint on skipped tests and on expects only in loops
  eslint.config.js
  tests/invariants.test.ts
  tests/lateBotFindings.test.ts
  tests/matchUnit.test.ts
  tests/parseMeasurement.commaLabels.test.ts
  tests/prState.test.ts
  tests/prStatusCheck.test.ts
Due: prettier --write, eslint --fix

refactor: pass typed tokens from the tokenizer to the parser (#108)
  .changeset/typed-tokens.md
  CONTRIBUTING.md
  src/parseMeasurement.ts
  src/tokenize.ts
  src/units.ts
  tests/__snapshots__/resultSnapshot.txt
  tests/parseMeasurement.commaFractions.test.ts
  tests/parseMeasurement.commaLabels.test.ts
  tests/parseMeasurement.test.ts
  tests/parseMeasurement.unitLabels.test.ts
  tests/resultSnapshot.test.ts
  tests/tokenize.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

ci: ask Claude to review each pull request when it opens (#92)
  .github/workflows/claude-review.yml
  CONTRIBUTING.md
  tests/claudeReviewWorkflow.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

test: give the two 4-second pr:status tests a 20 s timeout
  tests/prStatus.test.ts
Due: prettier --write, eslint --fix

test: fail a test with no expect, and other skips, after review
  eslint.config.js
  tests/invariants.test.ts
  vitest.config.ts
Due: prettier --write, eslint --fix

ci: retry only the pr:status errors that can pass (#114)
  .claude/skills/steward/SKILL.md
  .github/scripts/pr-state.mjs
  .github/scripts/pr-status.mjs
  tests/prState.edges.test.ts
  tests/prState.test.ts
  tests/prStatus.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

test: reject chained fails and todo tests, and lock requireAssertions
  eslint.config.js
  tests/claudeReviewWorkflow.test.ts
  tests/vitestConfig.test.ts
Due: prettier --write, eslint --fix

test: give the hyphen-joiner timing tests a 12 s limit and short cases
  tests/parseMeasurement.longRuns.test.ts
Due: prettier --write, eslint --fix

test: match fails and todo only on calls, not on fields
  eslint.config.js
Due: prettier --write, eslint --fix

test: give the signed-labels timing comment CI's real time
  tests/parseMeasurement.signedParts.test.ts
Due: prettier --write, eslint --fix

test: time the long-input tests in CPU time, in one shared helper
  tests/parseMeasurement.longRuns.test.ts
  tests/parseMeasurement.signedParts.test.ts
  tests/timing.ts
  tests/underStryker.ts
Due: prettier --write, eslint --fix

test: give timing tests fixed limits, and skip them under Stryker (#115)
  tests/parseMeasurement.longRuns.test.ts
  tests/parseMeasurement.signedParts.test.ts
  tests/timing.ts
Due: prettier --write, eslint --fix

test: fail tests that skip or that reach no expect (#116)
  eslint.config.js
  tests/claudeReviewWorkflow.test.ts
  tests/invariants.test.ts
  tests/lateBotFindings.test.ts
  tests/matchUnit.test.ts
  tests/parseMeasurement.commaLabels.test.ts
  tests/prState.test.ts
  tests/prStatusCheck.test.ts
  tests/vitestConfig.test.ts
  vitest.config.ts
Due: prettier --write, eslint --fix

ci: bound pr:status retries, and keep the last result at a timeout
  .claude/skills/steward/SKILL.md
  .github/scripts/pr-state.d.mts
  .github/scripts/pr-state.mjs
  .github/scripts/pr-status.mjs
  tests/prState.test.ts
  tests/prStatus.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

ci: check the API URL's scheme, and keep 403 body drops as errors
  .claude/skills/steward/SKILL.md
  .github/scripts/pr-state.d.mts
  .github/scripts/pr-state.mjs
  .github/scripts/pr-status.mjs
  tests/prState.test.ts
  tests/prStatus.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

docs: write the standup's rules for tooling, approvals and CodeRabbit
  .claude/skills/steward/SKILL.md
  AGENTS.md
Due: prettier --write, cspell --no-must-find-files

docs: fix the new rules after review
  .github/scripts/pr-state.mjs
  AGENTS.md
Due: prettier --write, cspell --no-must-find-files

ci: keep the --timeout line, and match the skill to early ends
  .claude/skills/steward/SKILL.md
  .github/scripts/pr-state.mjs
  .github/scripts/pr-status.mjs
  tests/prStatus.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

Path conditions:
  prettier --write: ((((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,yml,yaml})) or (any of: *.md)) or (any of: *.github/**/*.md)) or (any of: docs/**/*.html)
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  cspell --no-must-find-files: ((any of: *.md) or (any of: *.github/**/*.md)) or (any of: docs/**/*.html)
