Repository afahy/fluent-measures: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, cspell --no-must-find-files

fix: count number words and fractions as earlier numbers
  .changeset/unicode-minus-sign.md
  src/tokenize.ts
  tests/normalizeForms.test.ts
  tests/parseMeasurement.unicodeMinus.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

docs: say which inputs throw for contradicting options
  .changeset/normalized-unit-selects-type.md
Due: prettier --write, cspell --no-must-find-files

refactor: reuse MULTIPLIERS, and drop a test of a known gap
  .changeset/unicode-minus-sign.md
  src/tokenize.ts
  src/wordsToNumber.ts
  tests/normalizeForms.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

ci: fail the mutation check on a path with a backslash (#56)
  .github/scripts/changed-lines.d.mts
  .github/scripts/changed-lines.mjs
  .github/scripts/mutation-check.mjs
  CONTRIBUTING.md
  tests/changedLines.test.ts
  tests/mutationCheck.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

ci: fail the mutation check for more files that it can't check
  .github/scripts/changed-lines.d.mts
  .github/scripts/changed-lines.mjs
  .github/scripts/mutation-check.mjs
  tests/changedLines.test.ts
  tests/mutationCheck.test.ts
Due: prettier --write, eslint --fix

docs: list the files that the mutation check can't check
  CONTRIBUTING.md
  tests/mutationCheck.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: select the type from normalizedUnit, keep metric parts in cm (#57)
  .changeset/normalized-unit-selects-type.md
  README.md
  docs/index.html
  src/parseMeasurement.ts
  src/types.ts
  src/units.ts
  tests/__snapshots__/corpus.test.ts.snap
  tests/corpus/measurements.jsonl
  tests/parseMeasurement.inPreposition.test.ts
  tests/parseMeasurement.labelValues.test.ts
  tests/parseMeasurement.numberWords.test.ts
  tests/parseMeasurement.separateMeasurements.test.ts
  tests/parseMeasurement.unitConversions.test.ts
  tests/parseMeasurement.unitFirstPhrases.test.ts
  tests/parseMeasurement.unqualifiedNormalization.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: read a Unicode minus sign before a number as negative (#58)
  .changeset/unicode-minus-sign.md
  src/tokenize.ts
  src/wordsToNumber.ts
  tests/__snapshots__/corpus.test.ts.snap
  tests/normalizeForms.test.ts
  tests/parseMeasurement.unicodeMinus.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

ci: close more gaps in the new mutation-check guards
  .github/scripts/changed-lines.d.mts
  .github/scripts/changed-lines.mjs
  .github/scripts/mutation-check.mjs
  CONTRIBUTING.md
  tests/changedLines.test.ts
  tests/mutationCheck.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

chore(deps): update dev dependencies with security advisories
  CONTRIBUTING.md
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files

docs: list the Node.js and Git versions in short sentences
  CONTRIBUTING.md
Due: prettier --write, cspell --no-must-find-files

ci: quote a name that isn't valid UTF-8 in its error
  .github/scripts/changed-lines.mjs
  .github/scripts/mutation-check.mjs
  tests/mutationCheck.test.ts
Due: prettier --write, eslint --fix

fix: make a signed part invalidate its field, and join parts
  .changeset/signed-parts-null.md
  src/parseMeasurement.ts
  src/tokenize.ts
  tests/parseMeasurement.signedParts.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: keep labels, semicolons and inches with signed parts
  src/parseMeasurement.ts
  src/tokenize.ts
  tests/parseMeasurement.signedParts.test.ts
Due: prettier --write, eslint --fix

fix: keep a field name's earlier value before another unit's sign
  src/parseMeasurement.ts
  tests/parseMeasurement.signedParts.test.ts
Due: prettier --write, eslint --fix

test: make the Stryker stand-in honor fileLogLevel
  .github/scripts/mutation-check.mjs
  tests/mutationCheck.test.ts
Due: prettier --write, eslint --fix

fix: make a signed part invalidate its field, and join parts (#61)
  .changeset/signed-parts-null.md
  src/parseMeasurement.ts
  src/tokenize.ts
  tests/parseMeasurement.signedParts.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: remove trailing periods and semicolons in linear time
  .changeset/linear-trailing-marks.md
  src/tokenize.ts
  tests/parseMeasurement.longRuns.test.ts
  tests/tokenize.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

refactor: name the helper trimTrailing and fix comments
  .changeset/linear-trailing-marks.md
  src/tokenize.ts
  tests/parseMeasurement.longRuns.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

test: compare heavy timing tests with a baseline run
  tests/parseMeasurement.longRuns.test.ts
  tests/parseMeasurement.signedParts.test.ts
Due: prettier --write, eslint --fix

test: lock the allowUnqualified fallback against extra text
  tests/parseMeasurement.unqualifiedFallback.test.ts
Due: prettier --write, eslint --fix

test: cover both unit directions and fix two test comments
  tests/parseMeasurement.unqualifiedFallback.test.ts
Due: prettier --write, eslint --fix

test: add a result snapshot of generated inputs
  tests/__snapshots__/resultSnapshot.txt
  tests/resultSnapshot.test.ts
Due: prettier --write, eslint --fix

refactor: delete the unused parseNumberToken
  src/parseNumberToken.ts
  tests/parseNumberToken.test.ts
Due: prettier --write, eslint --fix

refactor: look up a unit's type in UNIT_TYPES
  src/parseMeasurement.ts
  src/units.ts
Due: prettier --write, eslint --fix

fix: read "and a half" after a whole number
  .changeset/and-a-half.md
  src/parseMeasurement.ts
  tests/__snapshots__/corpus.test.ts.snap
  tests/parseMeasurement.andAHalf.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: drop two step checks that can't change a result
  src/parseMeasurement.ts
Due: prettier --write, eslint --fix

fix: remove trailing periods and semicolons in linear time (#62)
  .changeset/linear-trailing-marks.md
  src/tokenize.ts
  tests/parseMeasurement.longRuns.test.ts
  tests/parseMeasurement.signedParts.test.ts
  tests/tokenize.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

build(config): raise the size limit to 4 kB for "and a half"
  .size-limit.cjs
  CONTRIBUTING.md
Due: prettier --write, cspell --no-must-find-files

fix: compare tokens directly and correct comments
  .changeset/and-a-half.md
  src/parseMeasurement.ts
  tests/parseMeasurement.andAHalf.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

test: check near misses of "and a half"
  tests/parseMeasurement.andAHalf.test.ts
Due: prettier --write, eslint --fix

fix: read only number characters before a unit in the hyphen joiner
  .changeset/linear-hyphen-joiner.md
  src/tokenize.ts
  tests/parseMeasurement.longRuns.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: treat a missing token before a unit as no number
  src/tokenize.ts
Due: prettier --write, eslint --fix

fix: keep the joiner within the size limit
  src/tokenize.ts
Due: prettier --write, eslint --fix

test: check a number with a period at its end before a hyphen
  src/tokenize.ts
  tests/parseMeasurement.hyphens.test.ts
Due: prettier --write, eslint --fix

fix: stop a long run of "and a half" from overflowing the stack
  src/parseMeasurement.ts
  tests/parseMeasurement.andAHalf.test.ts
Due: prettier --write, eslint --fix

fix: don't check for a half in the whole number before one
  src/parseMeasurement.ts
Due: prettier --write, eslint --fix

test: lock the allowUnqualified fallback against extra text (#63)
  tests/parseMeasurement.unqualifiedFallback.test.ts
Due: prettier --write, eslint --fix

docs: say that any word before a hyphen and a digit was slow
  .changeset/linear-hyphen-joiner.md
  src/tokenize.ts
  tests/parseMeasurement.longRuns.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

ci: fail the mutation check for more files that it can't check (#59)
  .github/scripts/changed-lines.d.mts
  .github/scripts/changed-lines.mjs
  .github/scripts/mutation-check.mjs
  CONTRIBUTING.md
  tests/changedLines.test.ts
  tests/mutationCheck.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

Path conditions:
  prettier --write: ((((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,yml,yaml})) or (any of: *.md)) or (any of: *.github/**/*.md)) or (any of: docs/**/*.html)
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  cspell --no-must-find-files: ((any of: *.md) or (any of: *.github/**/*.md)) or (any of: docs/**/*.html)
