Repository afahy/fluent-measures: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, cspell --no-must-find-files

chore(config): drop the duplicate type check from the pre-push hook
  .husky/pre-push
Due: none

fix(ci): install size-limit and run the bundle size check in CI (#13)
  .github/workflows/ci.yml
  .gitignore
  .husky/pre-push
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci: build through prepack in the package job
  .github/workflows/ci.yml
Due: prettier --write

ci: test the packed package on Node 22 and 24 (#17)
  .github/workflows/ci.yml
Due: prettier --write

ci: catch operator changes and hook failures in the regression check
  .github/scripts/normalize-source.d.mts
  .github/scripts/normalize-source.mjs
  .github/scripts/regression-check.mjs
  tests/normalizeSource.test.ts
Due: prettier --write, eslint --fix

ci: count directive changes and ignore incidental type errors
  .github/scripts/normalize-source.mjs
  .github/scripts/regression-check.mjs
  .github/scripts/type-assertion.d.mts
  .github/scripts/type-assertion.mjs
  tests/normalizeSource.test.ts
  tests/typeAssertion.test.ts
Due: prettier --write, eslint --fix

ci: count pragmas and @ts-ignore comments as package changes
  .github/scripts/normalize-source.mjs
  tests/normalizeSource.test.ts
Due: prettier --write, eslint --fix

ci: require fix PRs to add a test that fails without the fix (#14)
  .github/actions/setup/action.yml
  .github/scripts/normalize-source.d.mts
  .github/scripts/normalize-source.mjs
  .github/scripts/regression-check.mjs
  .github/scripts/type-assertion.d.mts
  .github/scripts/type-assertion.mjs
  .github/workflows/ci.yml
  .github/workflows/commitlint.yml
  .github/workflows/regression-test.yml
  tests/normalizeSource.test.ts
  tests/typeAssertion.test.ts
Due: prettier --write, eslint --fix

ci: add Stryker mutation testing with a minimum score of 70 (#15)
  .github/workflows/ci.yml
  .gitignore
  AGENTS.md
  CONTRIBUTING.md
  package.json
  pnpm-lock.yaml
  stryker.config.json
Due: prettier --write, cspell --no-must-find-files

fix(config): skip the post-checkout diff for a new worktree
  .husky/post-checkout
  tests/postCheckoutHook.test.ts
Due: prettier --write, eslint --fix

test: check that git worktree add runs the post-checkout hook
  tests/postCheckoutHook.test.ts
Due: prettier --write, eslint --fix

test: tidy the post-checkout hook test helpers
  tests/postCheckoutHook.test.ts
Due: prettier --write, eslint --fix

fix(config): also skip the post-checkout diff for an orphan branch
  .husky/post-checkout
  tests/postCheckoutHook.test.ts
Due: prettier --write, eslint --fix

fix(config): skip the post-checkout diff for a null HEAD (#18)
  .husky/post-checkout
  tests/postCheckoutHook.test.ts
Due: prettier --write, eslint --fix

chore(deps): upgrade vitest and its coverage plugin to 4.1.11
  .github/dependabot.yml
  package.json
  pnpm-lock.yaml
  tests/parseNumberToken.test.ts
Due: prettier --write, eslint --fix

chore(deps): upgrade vitest and its coverage plugin to 4.1.11 (#20)
  .github/dependabot.yml
  package.json
  pnpm-lock.yaml
  tests/parseNumberToken.test.ts
Due: prettier --write, eslint --fix

chore(config): remove references to the deleted .eslintrc.json
  .github/CODEOWNERS
  .npmignore
  AGENTS.md
Due: prettier --write, cspell --no-must-find-files

chore(config): reword the CLAUDE.md CODEOWNERS comment
  .github/CODEOWNERS
Due: none

chore(config): remove references to the deleted .eslintrc.json (#21)
  .github/CODEOWNERS
  .npmignore
  AGENTS.md
Due: prettier --write, cspell --no-must-find-files

chore(config): require owner review for agent config files
  .github/CODEOWNERS
  AGENTS.md
Due: prettier --write, cspell --no-must-find-files

chore(config): don't claim code-owner review is enforced
  .github/CODEOWNERS
Due: none

chore(config): require owner review for agent config files (#22)
  .github/CODEOWNERS
  AGENTS.md
Due: prettier --write, cspell --no-must-find-files

fix: reject inherited keys in number word lookups
  .changeset/twelve-cloths-sin.md
  src/wordsToNumber.ts
  tests/parseMeasurement.test.ts
  tests/wordsToNumber.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: reject inherited keys in number word lookups (#23)
  .changeset/twelve-cloths-sin.md
  src/wordsToNumber.ts
  tests/parseMeasurement.test.ts
  tests/wordsToNumber.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: parse complete number phrases before units
  .changeset/public-pianos-flash.md
  src/parseMeasurement.ts
  src/wordsToNumber.ts
  tests/parseMeasurement.numberWords.test.ts
  tests/wordsToNumber.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: preserve number phrase boundaries and decimals
  .changeset/public-pianos-flash.md
  src/parseMeasurement.ts
  src/wordsToNumber.ts
  tests/parseMeasurement.numberWords.test.ts
  tests/wordsToNumber.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: retain additive phrases starting with ten
  src/wordsToNumber.ts
  tests/parseMeasurement.numberWords.test.ts
  tests/wordsToNumber.test.ts
Due: prettier --write, eslint --fix

fix: bound number phrases and separate multiplier groups
  .changeset/public-pianos-flash.md
  src/parseMeasurement.ts
  src/wordsToNumber.ts
  tests/parseMeasurement.numberWords.test.ts
  tests/wordsToNumber.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: parse complete number phrases before units (#24)
  .changeset/public-pianos-flash.md
  src/parseMeasurement.ts
  src/wordsToNumber.ts
  tests/parseMeasurement.numberWords.test.ts
  tests/wordsToNumber.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: preserve bare inches before separate measurements
  .changeset/ninety-needles-divide.md
  src/parseMeasurement.ts
  tests/parseMeasurement.bareInches.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: include bare inches after feet
  .changeset/ninety-needles-divide.md
  src/parseMeasurement.ts
  tests/parseMeasurement.bareInches.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: retain inches before conjunction-separated weight
  src/parseMeasurement.ts
  tests/parseMeasurement.bareInches.test.ts
Due: prettier --write, eslint --fix

fix: declare number phrase result type
  src/parseMeasurement.ts
Due: prettier --write, eslint --fix

fix: retain inches before low-valued weight components
  src/parseMeasurement.ts
  tests/parseMeasurement.bareInches.test.ts
Due: prettier --write, eslint --fix

fix: treat written weights as separate measurements
  src/parseMeasurement.ts
  tests/parseMeasurement.bareInches.test.ts
Due: prettier --write, eslint --fix

fix: include bare inches after feet (#25)
  .changeset/ninety-needles-divide.md
  src/parseMeasurement.ts
  tests/parseMeasurement.bareInches.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: handle hyphenated height review edge cases
  .changeset/chubby-lines-hide.md
  README.md
  src/parseMeasurement.ts
  src/parseNumberToken.ts
  src/tokenize.ts
  src/units.ts
  tests/parseMeasurement.hyphenReview.test.ts
  tests/parseNumberToken.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: keep quoted signs and ignore unrelated numeric ranges
  .changeset/chubby-lines-hide.md
  src/parseMeasurement.ts
  src/parseNumberToken.ts
  src/tokenize.ts
  tests/parseMeasurement.hyphenReview.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: parse hyphenated height shorthand
  .changeset/petite-swans-play.md
  README.md
  src/parseMeasurement.ts
  src/tokenize.ts
  tests/parseMeasurement.hyphens.test.ts
  tests/tokenize.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: preserve measurements around height fragments
  .changeset/chubby-lines-hide.md
  src/parseMeasurement.ts
  src/tokenize.ts
  tests/parseMeasurement.hyphenReview.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

Path conditions:
  prettier --write: ((((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,yml,yaml})) or (any of: *.md)) or (any of: *.github/**/*.md)) or (any of: docs/**/*.html)
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  cspell --no-must-find-files: ((any of: *.md) or (any of: *.github/**/*.md)) or (any of: docs/**/*.html)
