Repository afahy/fluent-measures: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, cspell --no-must-find-files

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{json,yml,yaml}": ["prettier --write"],
  "*.md": ["prettier --write", "cspell --no-must-find-files"],
  "*.github/**/*.md": ["prettier --write", "cspell --no-must-find-files"],
  "docs/**/*.html": ["prettier --write", "cspell --no-must-find-files"]
}

test: check the escaped message for a path with a line break
  tests/mutationCheck.test.ts
Due: prettier --write, eslint --fix

docs: say that in after a number means inches (#87)
  .changeset/in-after-a-number.md
  README.md
  tests/__snapshots__/corpus.test.ts.snap
  tests/corpus/measurements.jsonl
  tests/readme.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

test: pin what "N in" text does next to another measurement
  tests/parseMeasurement.inAfterNumber.test.ts
Due: prettier --write, eslint --fix

test: check the joined parts, and drop the hyphenated in
  tests/parseMeasurement.inAfterNumber.test.ts
Due: prettier --write, eslint --fix

fix: don't take inches from a stone, ounce or gram amount (#90)
  .changeset/unsupported-unit-after-feet.md
  src/parseMeasurement.ts
  tests/parseMeasurement.unsupportedUnits.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

test: catch the 5G mutant with a row next to feet
  tests/parseMeasurement.inAfterNumber.test.ts
Due: prettier --write, eslint --fix

fix: read a sign on the first word of a number phrase
  .changeset/signed-article-phrases.md
  src/parseMeasurement.ts
  tests/parseMeasurement.signedParts.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

test: catch the mutants of the signed phrase read
  src/parseMeasurement.ts
  tests/parseMeasurement.signedParts.test.ts
Due: prettier --write, eslint --fix

test: catch the forward read after a signed article
  tests/parseMeasurement.signedParts.test.ts
Due: prettier --write, eslint --fix

test: check the typed matches and fix two row reasons
  tests/parseMeasurement.inAfterNumber.test.ts
Due: prettier --write, eslint --fix

fix: join after a number word or a semicolon before the unit too
  src/tokenize.ts
  tests/parseMeasurement.markHyphens.test.ts
Due: prettier --write, eslint --fix

test: check the page with a digit-first class, and close three CSS gaps
  tests/docsPage.test.ts
Due: prettier --write, eslint --fix

fix: use one sign rule, and read a Unicode minus on a or an
  .changeset/signed-article-phrases.md
  src/parseMeasurement.ts
  src/tokenize.ts
  tests/parseMeasurement.signedParts.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

ci: count lines with one split, and say how the check counts them
  .github/scripts/changed-lines.mjs
Due: none

ci: test each escaped annotation, and escape backslashes in log text
  .github/scripts/mutation-check.mjs
  .github/scripts/workflow-commands.mjs
  tests/mutationCheck.test.ts
  tests/workflowCommands.test.ts
Due: prettier --write, eslint --fix

ci: count directive lines in one pass over the source
  .github/scripts/changed-lines.mjs
Due: none

ci: drop the 27-minute step limit, and say how to get a full run
  .github/workflows/ci.yml
  CONTRIBUTING.md
Due: prettier --write, cspell --no-must-find-files

chore(config): raise the bundle size limit to 5 kB
  .size-limit.cjs
  CONTRIBUTING.md
Due: prettier --write, cspell --no-must-find-files

chore(config): remove the CODEOWNERS restriction for agents
  .claude/skills/steward/SKILL.md
  .github/scripts/pr-state.d.mts
  .github/scripts/pr-state.mjs
  AGENTS.md
  tests/fixtures/pr-status/CODEOWNERS
  tests/fixtures/pr-status/pr-43-at-1810.json
  tests/fixtures/pr-status/pr-43.json
  tests/fixtures/pr-status/pr-66.json
  tests/fixtures/pr-status/pr-67.json
  tests/prState.edges.test.ts
  tests/prStatus.test.ts
  tests/prStatusCheck.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

chore(config): keep CODEOWNERS comments and rule 8 in step
  .github/CODEOWNERS
  AGENTS.md
  tests/prState.edges.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

chore(config): remove the CODEOWNERS restriction for agents (#102)
  .claude/skills/steward/SKILL.md
  .github/CODEOWNERS
  .github/scripts/pr-state.d.mts
  .github/scripts/pr-state.mjs
  AGENTS.md
  tests/fixtures/pr-status/CODEOWNERS
  tests/fixtures/pr-status/pr-43-at-1810.json
  tests/fixtures/pr-status/pr-43.json
  tests/fixtures/pr-status/pr-66.json
  tests/fixtures/pr-status/pr-67.json
  tests/prState.edges.test.ts
  tests/prStatus.test.ts
  tests/prStatusCheck.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

chore(config): raise the bundle size limit to 5 kB (#101)
  .size-limit.cjs
  CONTRIBUTING.md
Due: prettier --write, cspell --no-must-find-files

ci: don't wait for CodeRabbit when it is rate limited
  .github/scripts/pr-state.mjs
  AGENTS.md
  tests/prState.edges.test.ts
  tests/prState.test.ts
  tests/prStatusCheck.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

ci: cover rate-limited refusals and requests, and keep the note stable
  .github/scripts/pr-state.d.mts
  .github/scripts/pr-state.mjs
  AGENTS.md
  tests/prState.edges.test.ts
  tests/prState.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

ci: count only a success status, and let a later review win
  .github/scripts/pr-state.mjs
  tests/prState.edges.test.ts
Due: prettier --write, eslint --fix

chore(config): lint every test format that Vitest runs (#91)
  eslint.config.js
  package.json
  tests/lintFormats.test.ts
Due: prettier --write, eslint --fix

ci: handle deleted comments, fork runs and emoji in pr-status (#84)
  .github/scripts/pr-status-check.mjs
  .github/workflows/pr-status.yml
  tests/prStatusCheck.test.ts
  tests/prStatusWorkflow.test.ts
Due: prettier --write, eslint --fix

ci: quote late bot findings without losing code or settings (#85)
  .github/scripts/late-bot-findings.mjs
  tests/fixtures/late-bot-findings/comments.json
  tests/lateBotFindings.test.ts
Due: prettier --write, eslint --fix

ci: escape file names in the CI scripts' workflow commands (#98)
  .github/scripts/mutation-check.mjs
  .github/scripts/regression-check.mjs
  .github/scripts/workflow-commands.d.mts
  .github/scripts/workflow-commands.mjs
  tests/mutationCheck.test.ts
  tests/workflowCommands.test.ts
Due: prettier --write, eslint --fix

ci: let a CodeRabbit status after a rate-limited refusal win
  .github/scripts/pr-state.mjs
  tests/prState.edges.test.ts
Due: prettier --write, eslint --fix

test: expect no CodeRabbit wait in the pr-status emoji test
  tests/prStatusCheck.test.ts
Due: prettier --write, eslint --fix

test: read the docs page's CSS classes as a set (#95)
  docs/index.html
  docs/tailwind.css
  tests/docsPage.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

docs: clarify steward wording and pr:status commands (#86)
  .claude/skills/steward/SKILL.md
  AGENTS.md
Due: prettier --write, cspell --no-must-find-files

test: pin the untyped row, an agreeing pair and the height type
  tests/parseMeasurement.inAfterNumber.test.ts
Due: prettier --write, eslint --fix

test: pin a weight after a hyphenated feet and inches height
  tests/parseMeasurement.markHyphens.test.ts
Due: prettier --write, eslint --fix

test: count a blank line and lines between two directives
  tests/changedLines.test.ts
Due: prettier --write, eslint --fix

fix: read a Unicode minus on a hyphenated a or an
  src/parseMeasurement.ts
  src/tokenize.ts
  tests/parseMeasurement.signedParts.test.ts
Due: prettier --write, eslint --fix

ci: stop Stryker with SIGINT at 27 minutes, so it saves its results
  .github/workflows/ci.yml
  CONTRIBUTING.md
  tests/mutationJob.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

ci: say that only a pull request goes on from saved partial results
  .github/workflows/ci.yml
  CONTRIBUTING.md
Due: prettier --write, cspell --no-must-find-files

ci: don't wait for CodeRabbit when it is rate limited (#103)
  .github/scripts/pr-state.d.mts
  .github/scripts/pr-state.mjs
  AGENTS.md
  tests/prState.edges.test.ts
  tests/prState.test.ts
  tests/prStatusCheck.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files
