Repository afahy/fluent-measures: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, cspell --no-must-find-files

ci: ask CodeRabbit to review a PR on another PR's branch
  .github/scripts/pr-state.mjs
  tests/prState.edges.test.ts
Due: prettier --write, eslint --fix

ci: refresh pr-status when CI starts, and scan PRs every 30 minutes
  .github/workflows/pr-status.yml
Due: prettier --write

ci: refresh pr-status on re-runs, and find fork PRs by branch
  .github/scripts/pr-status-check.mjs
  .github/workflows/pr-status.yml
  tests/prStatusCheck.test.ts
Due: prettier --write, eslint --fix

test: check both types, generate more options, and flatten the input
  tests/invariants.test.ts
Due: prettier --write, eslint --fix

ci: report a reasonless directive in a file with no mutants
  .github/scripts/mutation-check.mjs
  tests/mutationCheck.test.ts
Due: prettier --write, eslint --fix

test: run 100 property inputs under Stryker
  tests/invariants.test.ts
Due: prettier --write, eslint --fix

fix: keep a zero as the number of the unit after it (#69)
  .changeset/zero-before-unit.md
  src/parseMeasurement.ts
  tests/parseMeasurement.zeroBeforeUnit.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: multiply "and a half" by a multiplier word after it
  .changeset/half-before-multiplier.md
  src/parseMeasurement.ts
  tests/parseMeasurement.andAHalf.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: read a half before a multiplier only backward, and skip semicolons
  .changeset/half-before-multiplier.md
  src/parseMeasurement.ts
  tests/parseMeasurement.andAHalf.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: read British metric spellings and "#" for pounds (#70)
  .changeset/british-units-and-hash.md
  README.md
  docs/index.html
  src/matchUnit.ts
  src/tokenize.ts
  src/units.ts
  tests/__snapshots__/corpus.test.ts.snap
  tests/matchUnit.test.ts
  tests/parseMeasurement.britishUnits.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: read more multipliers and semicolons after a half, only backward
  .changeset/half-before-multiplier.md
  src/parseMeasurement.ts
  tests/parseMeasurement.andAHalf.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: join two values at a hyphen after an inch mark
  .changeset/inch-mark-hyphen.md
  src/tokenize.ts
  tests/parseMeasurement.signedParts.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

test: read an inch mark after a space before the hyphen
  tests/parseMeasurement.signedParts.test.ts
Due: prettier --write, eslint --fix

test: add words that overflow and underflow to the property test
  tests/invariants.test.ts
Due: prettier --write, eslint --fix

test: read curly and full-width inch marks before a hyphen
  tests/parseMeasurement.signedParts.test.ts
Due: prettier --write, eslint --fix

fix(docs): show the copy error if clipboard.js is missing
  docs/index.html
  tests/docsPage.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

test: check the docs tags in small pages, and run the copy script
  tests/docsPage.test.ts
Due: prettier --write, eslint --fix

test: check the copy script events, toasts and handlers
  tests/docsPage.test.ts
Due: prettier --write, eslint --fix

fix: read no number when a number before a half cannot take it
  .changeset/half-before-multiplier.md
  src/parseMeasurement.ts
  tests/parseMeasurement.andAHalf.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

test: read the number after a unit when the half before it has no number
  tests/parseMeasurement.andAHalf.test.ts
Due: prettier --write, eslint --fix

docs: make the inch-mark changeset and comment clearer
  .changeset/inch-mark-hyphen.md
  src/tokenize.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: find the sign before a half past semicolons
  src/parseMeasurement.ts
  tests/parseMeasurement.andAHalf.test.ts
Due: prettier --write, eslint --fix

fix: drop the field of a signed number before a half
  .changeset/half-before-multiplier.md
  src/parseMeasurement.ts
  tests/parseMeasurement.andAHalf.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

ci: pass the mutation check for changed files with no mutants (#74)
  .github/scripts/mutation-check.mjs
  tests/mutationCheck.test.ts
Due: prettier --write, eslint --fix

test: add a property test for parseMeasurement's invariants (#76)
  package.json
  pnpm-lock.yaml
  tests/invariants.test.ts
Due: prettier --write, eslint --fix

ci: file a record when a bot posts a finding after a PR closes (#72)
  .github/scripts/late-bot-findings.d.mts
  .github/scripts/late-bot-findings.mjs
  .github/workflows/late-bot-findings.yml
  tests/fixtures/late-bot-findings/comments.json
  tests/lateBotFindings.test.ts
Due: prettier --write, eslint --fix

ci: check block-comment Stryker directives and skip test files in src
  .github/scripts/changed-lines.mjs
  tests/changedLines.test.ts
Due: prettier --write, eslint --fix

chore(config): fix steward skill gaps from the final review
  .claude/skills/steward/SKILL.md
  AGENTS.md
Due: prettier --write, cspell --no-must-find-files

ci: read Stryker directives as Stryker does, and follow mutate
  .github/scripts/changed-lines.d.mts
  .github/scripts/changed-lines.mjs
  .github/scripts/mutation-check.mjs
  tests/changedLines.test.ts
Due: prettier --write, eslint --fix

ci: keep setting other PRs' statuses when one fails
  .github/scripts/pr-status-check.mjs
  .github/workflows/pr-status.yml
  tests/prStatusCheck.test.ts
Due: prettier --write, eslint --fix

ci: raise the mutation job time limit to 30 minutes
  .github/workflows/ci.yml
Due: prettier --write

fix(docs): check each docs hash and handle a missing clipboard.js (#79)
  docs/index.html
  tests/docsPage.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

chore(config): watch PRs with pr:status through a steward skill (#71)
  .claude/skills/steward/SKILL.md
  AGENTS.md
Due: prettier --write, cspell --no-must-find-files

ci: ask CodeRabbit to review a PR on another PR's branch (#75)
  .github/scripts/pr-state.mjs
  tests/prState.edges.test.ts
Due: prettier --write, eslint --fix

test: check the matches after an inch mark, and a weight after one
  .changeset/inch-mark-hyphen.md
  tests/parseMeasurement.signedParts.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

ci: read open block comments, mutate order and ranges as Stryker does
  .github/scripts/changed-lines.mjs
  tests/changedLines.test.ts
Due: prettier --write, eslint --fix

ci: raise the mutation job time limit to 30 minutes (#80)
  .github/workflows/ci.yml
Due: prettier --write

ci: show what each PR is waiting on as a pr-status commit status (#73)
  .github/scripts/pr-state.d.mts
  .github/scripts/pr-state.mjs
  .github/scripts/pr-status-check.d.mts
  .github/scripts/pr-status-check.mjs
  .github/workflows/pr-status.yml
  tests/prStatusCheck.test.ts
Due: prettier --write, eslint --fix

ci: scan comments across lines, and read ./ in mutate patterns
  .github/scripts/changed-lines.mjs
  tests/changedLines.test.ts
Due: prettier --write, eslint --fix

ci: read Stryker directives as Stryker does, and follow mutate (#81)
  .github/scripts/changed-lines.d.mts
  .github/scripts/changed-lines.mjs
  .github/scripts/mutation-check.mjs
  tests/changedLines.test.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,yml,yaml})) or (any of: *.md)) or (any of: *.github/**/*.md)) or (any of: docs/**/*.html)
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  cspell --no-must-find-files: ((any of: *.md) or (any of: *.github/**/*.md)) or (any of: docs/**/*.html)
