Repository afahy/fluent-measures: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, cspell --no-must-find-files

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{json,yml,yaml}": ["prettier --write"],
  "*.md": ["prettier --write", "cspell --no-must-find-files"],
  "*.github/**/*.md": ["prettier --write", "cspell --no-must-find-files"],
  "docs/**/*.html": ["prettier --write", "cspell --no-must-find-files"]
}

ci: require a reason on Stryker disable comments
  .github/scripts/changed-lines.d.mts
  .github/scripts/changed-lines.mjs
  .github/scripts/mutation-check.mjs
Due: none

test: cover the changed-lines helpers
  tests/changedLines.test.ts
Due: prettier --write, eslint --fix

chore(deps): reject conditionals inside tests
  eslint.config.js
Due: prettier --write, eslint --fix

ci: fail a PR when a mutant survives on a line that it changes
  .github/workflows/ci.yml
  CONTRIBUTING.md
Due: prettier --write, cspell --no-must-find-files

ci: fix the diff format and skip the install when src/ is unchanged
  .github/scripts/changed-lines.d.mts
  .github/scripts/changed-lines.mjs
  .github/scripts/mutation-check.mjs
  .github/workflows/ci.yml
  CONTRIBUTING.md
  tests/changedLines.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

test: find README calls with the TypeScript parser
  tests/readme.test.ts
Due: prettier --write, eslint --fix

test: keep tests that run git off the repository in GIT_DIR (#46)
  tests/gitEnvironment.test.ts
  tests/gitEnvironment.ts
  tests/lifecycleScripts.test.ts
  tests/postCheckoutHook.test.ts
  tests/prepareCommitMsgHook.test.ts
Due: prettier --write, eslint --fix

ci: mutate changed files whole and read file names safely
  .github/scripts/changed-lines.d.mts
  .github/scripts/changed-lines.mjs
  .github/scripts/mutation-check.mjs
  tests/changedLines.test.ts
Due: prettier --write, eslint --fix

ci: run every test when mutating changed files
  .github/scripts/mutation-check.mjs
Due: none

ci: explain a Stryker stop when no test imports the changed files
  .github/scripts/mutation-check.mjs
Due: none

docs: say the mutation check counts mutants that overlap changed lines
  CONTRIBUTING.md
Due: prettier --write, cspell --no-must-find-files

chore(config): limit fixes after the third bot review round
  AGENTS.md
Due: prettier --write, cspell --no-must-find-files

test: check every README example against the parser (#44)
  tests/readme.test.ts
Due: prettier --write, eslint --fix

ci: pass changed file names to Stryker as literal globs
  .github/scripts/changed-lines.mjs
  .github/scripts/mutation-check.mjs
Due: none

test: add a labelled corpus of everyday inputs (#45)
  CONTRIBUTING.md
  tests/__snapshots__/corpus.test.ts.snap
  tests/corpus.test.ts
  tests/corpus/measurements.jsonl
Due: prettier --write, eslint --fix, cspell --no-must-find-files

chore(deps): lint tests with @vitest/eslint-plugin (#47)
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

ci: escape glob characters with brackets, which Stryker keeps
  .github/scripts/changed-lines.mjs
Due: none

test: cover literalGlob
  tests/changedLines.test.ts
Due: prettier --write, eslint --fix

ci: declare literalGlob
  .github/scripts/changed-lines.d.mts
Due: none

ci: require a reason on each new Stryker disable directive
  .github/scripts/changed-lines.d.mts
  .github/scripts/changed-lines.mjs
  .github/scripts/mutation-check.mjs
  tests/changedLines.test.ts
Due: prettier --write, eslint --fix

fix: read fractions such as 150 1/2 lbs and 5½ ft
  .changeset/fractions-as-decimals.md
  src/parseMeasurement.ts
  src/tokenize.ts
  tests/__snapshots__/corpus.test.ts.snap
  tests/parseMeasurement.fractions.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

test: kill the surviving mutants on the fraction lines
  src/parseMeasurement.ts
  src/tokenize.ts
  tests/parseMeasurement.fractions.test.ts
  tests/parseMeasurement.test.ts
Due: prettier --write, eslint --fix

fix: keep the whole number and reject exponent fractions
  src/tokenize.ts
  tests/parseMeasurement.fractions.test.ts
Due: prettier --write, eslint --fix

docs: describe the decimal case in the changeset
  .changeset/fractions-as-decimals.md
Due: prettier --write, cspell --no-must-find-files

test: check the results that the README states in its prose
  tests/readme.test.ts
Due: prettier --write, eslint --fix

test: check that each prose input is still in its README section
  tests/readme.test.ts
Due: prettier --write, eslint --fix

fix: read grouped wholes and reject decimal fractions
  src/parseMeasurement.ts
  src/tokenize.ts
  tests/normalizeFractions.test.ts
  tests/parseMeasurement.fractions.test.ts
Due: prettier --write, eslint --fix

refactor: check the matched text for a decimal point
  src/tokenize.ts
Due: prettier --write, eslint --fix

docs: describe decimal fractions and grouped wholes in the changeset
  .changeset/fractions-as-decimals.md
Due: prettier --write, cspell --no-must-find-files

chore(deps): migrate from ESLint 9 to ESLint 10
  package.json
  pnpm-lock.yaml
Due: prettier --write

docs: state the Node version that ESLint 10 needs
  CONTRIBUTING.md
Due: prettier --write, cspell --no-must-find-files

fix: keep slashes between compact measurements
  src/tokenize.ts
  tests/normalizeFractions.test.ts
  tests/parseMeasurement.fractions.test.ts
Due: prettier --write, eslint --fix

docs: state the Node versions that all development tools need
  CONTRIBUTING.md
Due: prettier --write, cspell --no-must-find-files

fix: match fractions in linear time and keep spaced slashes
  src/tokenize.ts
  tests/normalizeFractions.test.ts
  tests/parseMeasurement.fractions.test.ts
Due: prettier --write, eslint --fix

ci: fail a PR when a mutant survives on a line that it changes (#48)
  .github/scripts/changed-lines.d.mts
  .github/scripts/changed-lines.mjs
  .github/scripts/mutation-check.mjs
  .github/workflows/ci.yml
  CONTRIBUTING.md
  tests/changedLines.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

test: check the README statement of each prose result
  tests/readme.test.ts
Due: prettier --write, eslint --fix

test: name a missing README heading in the prose check
  tests/readme.test.ts
Due: prettier --write, eslint --fix

fix: read fractions such as 150 1/2 lbs and 5½ ft (#49)
  .changeset/fractions-as-decimals.md
  src/parseMeasurement.ts
  src/tokenize.ts
  tests/__snapshots__/corpus.test.ts.snap
  tests/normalizeFractions.test.ts
  tests/parseMeasurement.fractions.test.ts
  tests/parseMeasurement.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: read spoken weights and heights such as one-eighty and five-eleven
  src/parseMeasurement.ts
  src/wordsToNumber.ts
  tests/__snapshots__/corpus.test.ts.snap
  tests/parseMeasurement.spokenNumbers.test.ts
  tests/wordsToNumber.test.ts
Due: prettier --write, eslint --fix

docs: add a changeset for spoken weights and heights
  .changeset/spoken-hundreds-and-heights.md
Due: prettier --write, cspell --no-must-find-files
