Repository afahy/fluent-measures: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, cspell --no-must-find-files

test: check the results that the README states in its prose (#50)
  tests/readme.test.ts
Due: prettier --write, eslint --fix

test: kill the surviving mutants on the spoken-number lines
  src/wordsToNumber.ts
  tests/parseMeasurement.spokenNumbers.test.ts
  tests/wordsToNumber.test.ts
Due: prettier --write, eslint --fix

test: handle open fences, same-unit values and variables in the README
  tests/readme.test.ts
Due: prettier --write, eslint --fix

test: keep the original error and accept unit-first same-unit inputs
  tests/readme.test.ts
Due: prettier --write, eslint --fix

fix: don't read a phrase with no number as zero
  src/wordsToNumber.ts
  tests/parseMeasurement.spokenNumbers.test.ts
  tests/wordsToNumber.test.ts
Due: prettier --write, eslint --fix

test: find the input unit for any number form in the README check
  tests/readme.test.ts
Due: prettier --write, eslint --fix

fix: convert only number words in the spoken shorthand
  src/parseMeasurement.ts
  src/wordsToNumber.ts
  tests/parseMeasurement.spokenNumbers.test.ts
  tests/wordsToNumber.test.ts
Due: prettier --write, eslint --fix

test: check the exact branch of expectedValue directly
  tests/readme.test.ts
Due: prettier --write, eslint --fix

test: commit regressions for open fences, variables and number words
  tests/readme.test.ts
Due: prettier --write, eslint --fix

build(config): add the ES2022 Error types to the TypeScript lib
  tsconfig.json
Due: prettier --write

fix: read spoken weights and heights such as one-eighty (#52)
  .changeset/spoken-hundreds-and-heights.md
  src/parseMeasurement.ts
  src/wordsToNumber.ts
  tests/__snapshots__/corpus.test.ts.snap
  tests/parseMeasurement.spokenNumbers.test.ts
  tests/wordsToNumber.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

test: handle open fences, same-unit values and README variables (#53)
  tests/readme.test.ts
Due: prettier --write, eslint --fix

test: attach the cause to the README argument error
  tests/readme.test.ts
Due: prettier --write, eslint --fix

chore(deps): migrate from ESLint 9 to ESLint 10 (#51)
  CONTRIBUTING.md
  package.json
  pnpm-lock.yaml
  tests/readme.test.ts
  tsconfig.json
Due: prettier --write, eslint --fix, cspell --no-must-find-files

test: match same-unit labels exactly in the README check
  tests/readme.test.ts
Due: prettier --write, eslint --fix

test: keep the tolerance when the input has a second unit
  tests/readme.test.ts
Due: prettier --write, eslint --fix

test: match same-unit labels exactly in the README check (#54)
  tests/readme.test.ts
Due: prettier --write, eslint --fix

chore(config): let agents merge reviewed two-way-door PRs
  AGENTS.md
Due: prettier --write, cspell --no-must-find-files

test: mark an equivalent mutant on the inferred value check
  src/parseMeasurement.ts
Due: prettier --write, eslint --fix

fix: normalize inferred measurements (#29)
  .changeset/tidy-cats-convert.md
  README.md
  src/parseMeasurement.ts
  tests/parseMeasurement.unqualifiedNormalization.test.ts
  tests/readme.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: read curly quotes, primes and full-width forms
  .changeset/unicode-quote-marks.md
  .size-limit.cjs
  CONTRIBUTING.md
  src/tokenize.ts
  tests/__snapshots__/corpus.test.ts.snap
  tests/normalizeForms.test.ts
  tests/parseMeasurement.unicodeMarks.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: read curly marks only right after a number
  src/parseMeasurement.ts
  src/tokenize.ts
  tests/normalizeForms.test.ts
  tests/parseMeasurement.unicodeMarks.test.ts
Due: prettier --write, eslint --fix

fix: keep closing quotes after a quoted number
  src/tokenize.ts
  tests/parseMeasurement.unicodeMarks.test.ts
Due: prettier --write, eslint --fix

chore(config): review PRs in a fresh subagent, and again before merge
  AGENTS.md
Due: prettier --write, cspell --no-must-find-files

test: time normalizeForms directly and kill the quote-state mutants
  tests/normalizeForms.test.ts
  tests/parseMeasurement.unicodeMarks.test.ts
Due: prettier --write, eslint --fix

fix: decide each curly mark from the number before it
  src/tokenize.ts
  tests/normalizeForms.test.ts
  tests/parseMeasurement.unicodeMarks.test.ts
Due: prettier --write, eslint --fix

fix: keep closing quotes around quoted fractions
  src/tokenize.ts
  tests/parseMeasurement.unicodeMarks.test.ts
Due: prettier --write, eslint --fix

test: mark the static pattern mutants that Stryker can't run
  src/tokenize.ts
Due: prettier --write, eslint --fix

test: convert every curly mark, and drop the wrong disable comments
  src/tokenize.ts
  tests/normalizeForms.test.ts
Due: prettier --write, eslint --fix

chore(config): judge review findings, and check late ones before close
  AGENTS.md
Due: prettier --write, cspell --no-must-find-files

ci: fail the mutation check on a file name with a backslash
  .github/scripts/changed-lines.d.mts
  .github/scripts/changed-lines.mjs
  .github/scripts/mutation-check.mjs
  tests/changedLines.test.ts
Due: prettier --write, eslint --fix

test: run the mutation check on a repository with backslash paths
  .github/scripts/changed-lines.d.mts
  .github/scripts/changed-lines.mjs
  .github/scripts/mutation-check.mjs
  tests/changedLines.test.ts
  tests/mutationCheck.test.ts
Due: prettier --write, eslint --fix

fix: read curly quotes, primes and full-width forms (#55)
  .changeset/unicode-quote-marks.md
  .size-limit.cjs
  CONTRIBUTING.md
  src/parseMeasurement.ts
  src/tokenize.ts
  tests/__snapshots__/corpus.test.ts.snap
  tests/normalizeForms.test.ts
  tests/parseMeasurement.unicodeMarks.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: select the type from normalizedUnit, and keep metric parts in cm
  .changeset/normalized-unit-selects-type.md
  src/parseMeasurement.ts
  src/units.ts
  tests/parseMeasurement.inPreposition.test.ts
  tests/parseMeasurement.labelValues.test.ts
  tests/parseMeasurement.numberWords.test.ts
  tests/parseMeasurement.separateMeasurements.test.ts
  tests/parseMeasurement.unitConversions.test.ts
  tests/parseMeasurement.unitFirstPhrases.test.ts
  tests/parseMeasurement.unqualifiedNormalization.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

ci: read changed file names as literal pathspecs
  .github/scripts/mutation-check.mjs
  CONTRIBUTING.md
  tests/mutationCheck.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: document normalizedUnit's type, and cover the option guards
  .changeset/normalized-unit-selects-type.md
  README.md
  docs/index.html
  src/parseMeasurement.ts
  src/types.ts
  tests/parseMeasurement.unitConversions.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: read a Unicode minus sign before a number as negative
  .changeset/unicode-minus-sign.md
  src/tokenize.ts
  tests/__snapshots__/corpus.test.ts.snap
  tests/normalizeForms.test.ts
  tests/parseMeasurement.unicodeMinus.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

fix: read a minus sign as negative only before the first number
  .changeset/unicode-minus-sign.md
  src/tokenize.ts
  tests/normalizeForms.test.ts
  tests/parseMeasurement.unicodeMinus.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

ci: use per-path literal pathspecs, and test the stop before Stryker
  .github/scripts/mutation-check.mjs
  CONTRIBUTING.md
  tests/mutationCheck.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

docs: name normalizedUnit's exceptions, and expect cm for 1m80
  .changeset/normalized-unit-selects-type.md
  README.md
  docs/index.html
  src/types.ts
  tests/__snapshots__/corpus.test.ts.snap
  tests/corpus/measurements.jsonl
  tests/parseMeasurement.unitConversions.test.ts
Due: prettier --write, eslint --fix, cspell --no-must-find-files

Path conditions:
  prettier --write: ((((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,yml,yaml})) or (any of: *.md)) or (any of: *.github/**/*.md)) or (any of: docs/**/*.html)
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  cspell --no-must-find-files: ((any of: *.md) or (any of: *.github/**/*.md)) or (any of: docs/**/*.html)
